<div class="row flex-items-xs-center" id="getting-started-items-container">
  <div class="col-xs-11">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
        <div class="card">
          <div class="card-block">
            <div class="card-title">
              <clr-icon shape="group" size="24"></clr-icon> Open the Management Portal
            </div>
            <div class="card-text">
              <a href="{{admiralUrl}}" target="_blank">Go to the vSphere Integrated Containers Management Portal</a> to manage registries, provision containers, and create projects and manage users.
            </div>
          </div>
          <div class="card-footer">
            <a class="btn btn-sm btn-link" href="{{admiralUrl}}" target="_blank">Open</a>
            <a class="btn btn-sm btn-link" target="_blank" href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_cloud_admin/">Read more</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
          <div class="card transparent">
              <div class="card-block">
                  <div class="card-title">
                      <clr-icon shape="list" size="24"></clr-icon> Post-Install &amp; Deployment Tasks
                  </div>
                  <div class="card-text">
                      These tasks are usually performed by the vSphere admin.
                      <ol>
                        <li><a target="_blank" href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_vsphere_admin/install_vic_plugin.html">Install vSphere Client plug-ins on vCenter Server</a></li>
                        <li><a target="_blank" href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_vsphere_admin/deploy_vch.html">Deploy VCHs</a></li>
                        <li><a target="_blank" href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_vsphere_admin/vch_admin.html">Manage VCHs</a></li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
          <div class="card transparent">
              <div class="card-block">
                  <div class="card-title">
                      <clr-icon shape="list" size="24"></clr-icon> Configuration Tasks
                  </div>
                  <div class="card-text">
                      These tasks are usually performed by the Cloud or DevOps admins.
                      <ol>
                        <li><a target="_blank" href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_cloud_admin/configure_system.html">Configure the management portal</a></li>
                        <li><a target="_blank" href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_cloud_admin/create_projects.html">Create projects</a></li>
                        <li><a target="_blank" href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_cloud_admin/add_users.html">Add users</a></li>
                        <li><a target="_blank" href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_cloud_admin/vchs_and_mgmt_portal.html">Add hosts to the management portal</a></li>
                        <li><a target="_blank" href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_cloud_admin/add_repos_in_portal.html">Add registries to the management portal</a></li>
                        <li><a target="_blank" href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_app_dev/run_dev_project.html">Run projects and provision containers</a></li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="row flex-items-xs-center" id="infra-deploy-tools-container">
    <div class="col-xs-11">
        <h4>Infrastructure Deployment Tools</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                            <clr-icon shape="host" size="24"></clr-icon> Deploy a VCH
                        </div>
                        <div class="card-text">
                            <a href="{{vicEngineUrl}}" target="_blank">Download the vSphere Integrated Containers Engine bundle.</a>
                                vSphere Integrated Containers Engine provides a command-line utility named vic-machine that you use to deploy virtual container hosts (VCHs) in production.
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-sm btn-link" href="{{vicEngineUrl}}" target="_blank">Download</a>
                        <a class="btn btn-sm btn-link" target="_blank" href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_vsphere_admin/deploy_vch.html">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

