<!-- inline wizard: https://github.com/vmware/clarity/blob/master/src/app/wizard/wizard-inline.demo.html -->
<clr-wizard #wizardlg
            clrWizardSize="lg"
            class="clr-wizard--inline clr-wizard--no-shadow"
            [clrWizardPreventDefaultCancel]="true"
            clrWizardPreventModalAnimation="true"
            [clrWizardForceForwardNavigation]="true"
            (clrWizardCurrentPageChanged)="resizeToParentFrame()"
            [clrWizardClosable]="false">

  <clr-wizard-title>
    Create Virtual
    <br/>
    Container Host
  </clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <div class="spinner" *ngIf="loading"></div>

  <clr-alert *ngIf="errorFlag"
      [clrAlertType]="'alert-danger'"
      [clrAlertClosable]="false">
    <!-- errors -->
    <div class="alert-item">
      <div class="alert-text" *ngFor="let errMsg of errorMsgs">
      {{errMsg}}
      </div>
    </div>
  </clr-alert>

  <clr-wizard-page [clrWizardPageNextDisabled]="generalStep.form.invalid"
                   clrWizardPagePreventDefault="true"
                   (clrWizardPageOnLoad)="onPageLoad(generalStep.onPageLoad())"
                   (clrWizardPageOnCancel)="onCancel()"
                   (clrWizardPageOnCommit)="onCommit(generalStep.onCommit())"
                   (clrWizardPagePrevious)="goBack()">

    <ng-template clrPageTitle>
      General Settings
      <a href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_vsphere_admin/vch_general_settings.html"
         target="_blank">
        <clr-icon shape="help" class="is-info"></clr-icon>
      </a>
    </ng-template>
    <ng-template clrPageNavTitle>General</ng-template>

    <vic-vch-creation-general #generalStep></vic-vch-creation-general>

  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="computeCapacityStep.form.invalid"
                   clrWizardPagePreventDefault="true"
                   (clrWizardPageOnLoad)="onPageLoad(computeCapacityStep.onPageLoad())"
                   (clrWizardPageOnCancel)="onCancel()"
                   (clrWizardPageOnCommit)="onCommit(computeCapacityStep.onCommit())"
                   (clrWizardPagePrevious)="goBack()">

    <ng-template clrPageTitle>
      Compute Capacity
      <a href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_vsphere_admin/vch_compute.html"
         target="_blank">
        <clr-icon shape="help" class="is-info"></clr-icon>
      </a>
    </ng-template>
    <ng-template clrPageNavTitle>Compute Capacity</ng-template>

    <vic-vch-creation-compute-capacity #computeCapacityStep></vic-vch-creation-compute-capacity>

  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="storageCapacityStep.form.invalid"
                   clrWizardPagePreventDefault="true"
                   (clrWizardPageOnLoad)="onPageLoad(storageCapacityStep.onPageLoad())"
                   (clrWizardPageOnCancel)="onCancel()"
                   (clrWizardPageOnCommit)="onCommit(storageCapacityStep.onCommit())"
                   (clrWizardPagePrevious)="goBack()">

    <ng-template clrPageTitle>
      Storage Capacity
      <a href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_vsphere_admin/vch_storage.html"
         target="_blank">
        <clr-icon shape="help" class="is-info"></clr-icon>
      </a>
    </ng-template>
    <ng-template clrPageNavTitle>Storage Capacity</ng-template>

    <vic-vch-creation-storage-capacity #storageCapacityStep
                                       [resourceObjRef]="computeCapacityStep.selectedResourceObjRef">
    </vic-vch-creation-storage-capacity>

  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="networksStep.form.invalid"
                   clrWizardPagePreventDefault="true"
                   (clrWizardPageOnLoad)="onPageLoad(networksStep.onPageLoad())"
                   (clrWizardPageOnCancel)="onCancel()"
                   (clrWizardPageOnCommit)="onCommit(networksStep.onCommit())"
                   (clrWizardPagePrevious)="goBack()">

    <ng-template clrPageTitle>
      Configure Networks
      <a href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_vsphere_admin/vch_networking.html"
         target="_blank">
        <clr-icon shape="help" class="is-info"></clr-icon>
      </a>
    </ng-template>
    <ng-template clrPageNavTitle>Networks</ng-template>

    <vic-vch-creation-networks #networksStep></vic-vch-creation-networks>

  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="securityStep.form.get('enableSecureAccess').value && securityStep.form.invalid"
                   clrWizardPagePreventDefault="true"
                   (clrWizardPageOnLoad)="onPageLoad(securityStep.onPageLoad())"
                   (clrWizardPageOnCancel)="onCancel()"
                   (clrWizardPageOnCommit)="onCommit(securityStep.onCommit())"
                   (clrWizardPagePrevious)="goBack()">

    <ng-template clrPageTitle>
      Security
      <a href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_vsphere_admin/vch_security.html"
         target="_blank">
        <clr-icon shape="help" class="is-info"></clr-icon>
      </a>
    </ng-template>
    <ng-template clrPageNavTitle>Security</ng-template>

    <vic-vch-creation-security [vchName]="generalStep.form.get('name').value" #securityStep></vic-vch-creation-security>

  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="operationsUserStep.form.invalid"
                   clrWizardPagePreventDefault="true"
                   (clrWizardPageOnLoad)="onPageLoad(operationsUserStep.onPageLoad())"
                   (clrWizardPageOnCancel)="onCancel()"
                   (clrWizardPageOnCommit)="onCommit(operationsUserStep.onCommit())"
                   (clrWizardPagePrevious)="goBack()">

    <ng-template clrPageTitle>
      Operations User
      <a href="https://vmware.github.io/vic-product/assets/files/html/1.3/vic_vsphere_admin/set_up_ops_user.html"
         target="_blank">
        <clr-icon shape="help" class="is-info"></clr-icon>
      </a>
    </ng-template>
    <ng-template clrPageNavTitle>Operations User</ng-template>

    <vic-vch-creation-operations-user #operationsUserStep></vic-vch-creation-operations-user>

  </clr-wizard-page>

  <clr-wizard-page clrWizardPagePreventDefault="true"
                   (clrWizardPageOnLoad)="onPageLoad(summaryStep.onPageLoad())"
                   (clrWizardPageOnCancel)="onCancel()"
                   (clrWizardPagePrevious)="goBack()"
                   (clrWizardPageOnCommit)="onFinish(summaryStep.onCommit())">

    <ng-template clrPageTitle>
      Summary
    </ng-template>
    <ng-template clrPageNavTitle>Summary</ng-template>

    <vic-vch-creation-summary [payload]="cachedData" #summaryStep></vic-vch-creation-summary>

  </clr-wizard-page>

</clr-wizard>
