/* You can add global styles to this file, and also import other style files */


/* Fixes broken position of the spinner set by .clr-wizard */

#compute-resource-selector .spinner {
  top: 2% !important;
  left: 2% !important;
}

.modal .mb10 {
  margin-bottom: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

/* Fixes issue with clr-stack-block when some row bottom borders are not visible */
.stack-view .stack-block {
  min-height: 37px;
}
