<clr-alert *ngIf="vicApplianceIp === null"
           [clrAlertType]="'danger'"
           [clrAlertClosable]="false">
    <clr-alert-item>
      <div class="alert-text">
        VIC appliance VM was not found or unreachable. Please make sure you have deployed it correctly.
      </div>
    </clr-alert-item>
</clr-alert>
<p>Provide the name and log configuration for this new Virtual Container Host (VCH).</p>

<form [formGroup]="form" novalidate class="clr-form clr-form-compact">
  <section class="form-block">

    <div class="clr-form-control clr-row">

        <label for="nameInput" class="clr-control-label clr-col-12 clr-col-md-3 required">
          VCH name
          <b>*</b>
        </label>

      <div class="clr-control-container clr-col-12 clr-col-md-7">

        <label for="nameInput"
               aria-haspopup="true"
               role="tooltip"
               class="form-control tooltip tooltip-validation tooltip-lg tooltip-top-left"
               [class.invalid]="form.get('name').invalid">

          <input id="nameInput"
                 class="clr-input"
                 type="text"
                 placeholder="Enter virtual container host name"
                 formControlName="name">

          <span class="tooltip-content" *ngIf="form.get('name').hasError('required')">
            Name cannot be empty
          </span>

          <span class="tooltip-content" *ngIf="form.get('name').hasError('maxLength')">
            Name cannot be more than 80 characters long
          </span>

          <span class="tooltip-content" *ngIf="form.get('name').hasError('pattern')">
            Name contains characters that are not allowed
          </span>

          <span class="tooltip-content" *ngIf="form.get('name').hasError('resourcePoolExists')">
            There is already a VirtualApp or ResourcePool that exists with the same name
          </span>

        </label>

      </div>

      <clr-signpost>
        <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
            <span>
              Virtual container host names can contain up to 80 characters and must be unique within each vCenter
            </span>
        </clr-signpost-content>
      </clr-signpost>

    </div>
    <div class="clr-form-control clr-row">

        <label for="nameInput" class="clr-control-label clr-col-12 clr-col-md-3">
          Container VM name template
        </label>

      <div class="clr-control-container clr-col-12 clr-col-md-2">

        <input id="container-name-convention-prefix"
               class="clr-input"
               type="text"
               placeholder="Prefix"
               formControlName="containerNameConventionPrefix">

      </div>
      <div class="clr-control-container clr-col-12 clr-col-md-3">

        <div class="clr-select-wrapper">
          <select id="container-name-convention-selector"
                  class="clr-select"
                  formControlName="containerNameConvention">
            <option value="{name}">Docker name</option>
            <option value="{id}">Container ID</option>
          </select>
        </div>

      </div>
      <div class="clr-control-container clr-col-12 clr-col-md-2">

        <input id="container-name-convention-postfix"
               class="clr-input"
               type="text"
               placeholder="Suffix"
               formControlName="containerNameConventionPostfix">

      </div>

      <clr-signpost>
        <clr-signpost-content [clrPosition]="'top-left'" *clrIfOpen>
            <span>
              The Container VM name is constructed from either the Docker name or ID with an optional prefix and suffix
            </span>
        </clr-signpost-content>
      </clr-signpost>
    </div>
    <div class="clr-form-control clr-row">
      <div class="clr-control-container clr-col-12 clr-col-md-3">

      </div>
      <div class="clr-control-container clr-col-12 clr-col-md-7">
        <small class="text-muted text-nowrap" style="line-height: 1.5em">
          Example container VM names generated by this VCH using this template:<br>
          <span *ngIf="form.get('containerNameConvention').value === '{name}'" class="my-0">
            {{ form.get('containerNameConventionPrefix').value }}spleepy_kowalevski{{ form.get('containerNameConventionPostfix').value }}<br>
            {{ form.get('containerNameConventionPrefix').value }}jolly_nobel{{ form.get('containerNameConventionPostfix').value }}
          </span>
          <span *ngIf="form.get('containerNameConvention').value === '{id}'" class="my-0">
            {{ form.get('containerNameConventionPrefix').value }}4c01db0b339c{{ form.get('containerNameConventionPostfix').value }}<br>
            {{ form.get('containerNameConventionPrefix').value }}d7886598dbe2{{ form.get('containerNameConventionPostfix').value }}
          </span>
        </small>
      </div>
    </div>
  </section>

  <p>Set level of logging and an endpoint for log aggregation.</p>

  <section class="form-block">

    <div class="clr-form-control clr-row">

        <label for="debug-level-selector" class="clr-control-label clr-col-12 clr-col-md-3">Debug</label>

      <div class="clr-control-container clr-col-12 clr-col-md-5">

        <div class="clr-select-wrapper">
          <select id="debug-level-selector"
                  class="clr-select"
                  formControlName="debug">
            <option value="0">0 - Verbose logging is disabled</option>
            <option value="1">1 - Provides extra verbosity in the logs</option>
            <option value="2">2 - Exposes server on more interfaces, launches pprof in container VMs</option>
            <option value="3">3 - Disables recovery logic and logs sensitive data</option>
          </select>
        </div>

      </div>

      <clr-signpost>
        <clr-signpost-content [clrPosition]="'top-left'" *clrIfOpen>
            <span>
              Deploy the VCH with more verbose levels of logging, and optionally modify the behavior of vic-machine
              for troubleshooting purposes. This setting is persistent.
            </span>
        </clr-signpost-content>
      </clr-signpost>

    </div>

    <div class="clr-form-control clr-row">

        <label for="debug-level-selector" class="clr-control-label clr-col-12 clr-col-md-3">Syslog</label>

      <div class="clr-control-container clr-col-12 clr-col-md-2">

        <div class="clr-select-wrapper">
          <select id="syslog-transport-selector"
                  class="clr-select"
                  formControlName="syslogTransport">
            <option value="tcp">tcp</option>
            <option value="udp">udp</option>
          </select>
        </div>

      </div>
      <span class="mx-0 px-0">://</span>
      <div class="clr-control-container clr-col-12 clr-col-md-3">

        <input id="syslog-host-selector"
               class="clr-input"
               placeholder="IP or FQDN"
               type="text"
               formControlName="syslogHost">

      </div>
      <span class="mx-0 px-0">:</span>
      <div class="clr-control-container clr-col-12 clr-col-md-2">

        <label for="syslog-port-selector"
               aria-haspopup="true"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-md tooltip-top-left form-control"
               [class.invalid]="form.get('syslogPort').invalid && (form.get('syslogPort').dirty || form.get('syslogPort').touched)">

          <input id="syslog-port-selector"
                 class="clr-input"
                 placeholder="Port"
                 type="text"
                 formControlName="syslogPort">

          <span class="tooltip-content" *ngIf="form.get('syslogPort').hasError('maxlength')">
              Port cannot be more than 5 digits long
            </span>

          <span class="tooltip-content" *ngIf="form.get('syslogPort').hasError('pattern')">
              Port should be numeric
          </span>

        </label>

      </div>

      <clr-signpost>
        <clr-signpost-content [clrPosition]="'top-left'" *clrIfOpen>
            <span>
              Configure the VCH to send logs to an external syslog endpoint.
            </span>
        </clr-signpost-content>
      </clr-signpost>

    </div>

  </section>
</form>
