<p>
  Provide vSphere user credential for the VCH to use when interacting with vSphere<br>
  Specify a non-administrative account to limit permissions for day-to-day VCH operations.
</p>

<form [formGroup]="form" class="clr-form clr-form-compact" novalidate>
  <section class="form-block" id='ops-user'>

    <div class="clr-form-control clr-row mb-0">
      <div class="clr-control-label clr-col-12 clr-col-md-4">

        <label class="required" for="ops-user">
          vSphere user credentials
          <b>*</b>
        </label>

      </div>
      <div class="clr-control-container clr-col-12 clr-col-md-5">

        <label for="ops-user"
               aria-haspopup="true"
               role="tooltip"
               class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
               [class.invalid]="form.get('opsUser').invalid && (form.get('opsUser').dirty || form.get('opsUser').touched)">

          <input id="ops-user"
                 class="clr-input"
                 type="text"
                 placeholder="username@domain.local"
                 formControlName="opsUser">

          <span class="tooltip-content" *ngIf="form.get('opsUser').hasError('required')">
            Operations user cannot be empty
          </span>

        </label>

      </div>
    </div>
    <div class="clr-form-control clr-row">
      <div class="clr-control-container clr-col-12 clr-col-md-4"></div>
      <div class="clr-control-container clr-col-12 clr-col-md-5">

        <label for="ops-password"
               aria-haspopup="true"
               role="tooltip"
               class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
               [class.invalid]="form.get('opsPassword').invalid && (form.get('opsPassword').dirty || form.get('opsPassword').touched)">

          <input id="ops-password"
                 class="clr-input"
                 type="password"
                 placeholder="Password"
                 formControlName="opsPassword">

          <span class="tooltip-content" *ngIf="form.get('opsPassword').hasError('required')">
            Operations user password cannot be empty
          </span>

        </label>

      </div>
    </div>
    <div class="clr-form-control clr-row">
      <div class="clr-control-container clr-col-12 clr-col-md-4"></div>
      <div class="clr-control-container clr-col-12 clr-col-md-5">

        <div class="clr-checkbox-wrapper">
          <input type="checkbox" id="ops-grant-perms" formControlName="opsGrantPerms">
          <label class="text-nowrap" for="ops-grant-perms">Grant this user any necessary permissions</label>
        </div>

      </div>
    </div>

  </section>
</form>
