<clr-alert *ngIf="error"
           [clrAlertType]="'alert-danger'"
           (clrAlertClosedChange)="error = '';">
  <div class="alert-item">
    <div class="alert-text">
      {{ error }}
    </div>
  </div>
</clr-alert>

<clr-alert *ngIf="warning"
           [clrAlertType]="'alert-warning'"
           (clrAlertClosedChange)="warning = '';">
  <div class="alert-item">
    <div class="alert-text">
      {{ warning }}
    </div>
  </div>
</clr-alert>

<!-- TODO: come up with a generalized error model -->
<div class="col-xs-12 mb-2" *ngIf="errorObj">
  <div class="row">
    <div class="col-xs-12">
      <vic-ova-verification [errorObj]="errorObj" (refreshEvent)="checkVicMachineServer()">
      </vic-ova-verification>
    </div>
  </div>
</div>

<clr-datagrid (clrDgRefresh)="refreshGrid($event)" [clrDgLoading]="isDgLoading">
  <clr-dg-action-bar>
    <button class="btn btn-link btn-sm new-vch" (click)="launchCreateVchWizard()">
      <clr-icon shape="add"></clr-icon> New Virtual Container Host
    </button>
  </clr-dg-action-bar>
  <clr-dg-column [clrDgField]="'name'">
    {{vicI18n.translate(this.WS_VCH_CONSTANTS.DG.COLUMNS, 'NAME')}}
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'overallStatus'">
    {{vicI18n.translate(this.WS_VCH_CONSTANTS.DG.COLUMNS, 'OVERALL_STATUS')}}
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'vchIp'">
    {{vicI18n.translate(this.WS_VCH_CONSTANTS.DG.COLUMNS, 'DOCKER_API_ENDPOINT')}}
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'vchIp'">
    {{vicI18n.translate(this.WS_VCH_CONSTANTS.DG.COLUMNS, 'VCH_ADMIN_PORTAL')}}
  </clr-dg-column>

  <clr-dg-row *ngFor="let item of vchs">
    <clr-dg-action-overflow class="{{item.name}}">
      <button class="action-item {{item.name}}" (click)="deleteVch(item)">Delete</button>
    </clr-dg-action-overflow>
    <clr-dg-row-detail>
      <clr-dg-cell>
        <vic-vch-log-view *clrIfExpanded [vch]="item"></vic-vch-log-view>
      </clr-dg-cell>
    </clr-dg-row-detail>
    <clr-dg-cell>
      <a href="#" (click)="navigateToObject(item.id)">
        <clr-icon shape="vmw-app"></clr-icon>&nbsp; {{item.name}}
      </a>
    </clr-dg-cell>
    <clr-dg-cell [ngSwitch]="item.overallStatus">
      <clr-icon shape="success" [style.color]="'#1D5100'" *ngSwitchCase="'GREEN'"></clr-icon>
      <clr-icon shape="warning" [style.color]="'#EB8D00'" *ngSwitchCase="'YELLOW'"></clr-icon>
      <clr-icon shape="error" [style.color]="'#A32100'" *ngSwitchCase="'RED'"></clr-icon>
      <clr-icon shape="unknown-status" *ngSwitchDefault></clr-icon>
    </clr-dg-cell>
    <clr-dg-cell>
      <span *ngIf="item.vchIp">{{ getDockerEndpointString(item) }}</span>
      <span *ngIf="!item.vchIp">
        {{ vicI18n.translate(this.WS_VCH_CONSTANTS.DG.MESSAGES, 'WAITING_FOR_IP') }} (<a class="pointer-with-no-href" (click)="reloadVchs()">refresh</a>)
        </span>
    </clr-dg-cell>
    <clr-dg-cell>
      <span *ngIf="item.vchIp">
        <a href="https://{{item.vchIp}}:2378" target="_blank">https://{{item.vchIp}}:2378</a>
      </span>
      <span *ngIf="!item.vchIp">
        {{ vicI18n.translate(this.WS_VCH_CONSTANTS.DG.MESSAGES, 'WAITING_FOR_IP') }} (<a class="pointer-with-no-href" (click)="reloadVchs()">refresh</a>)
      </span>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{totalVchsCount}} VCHs
    <clr-dg-pagination [clrDgPageSize]="maxResultCount" #pagination [clrDgTotalItems]="totalVchsCount">
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
