@import "../../../../../node_modules/@clr/ui/src/color/utils/_colors.clarity.scss";

:host ::ng-deep clr-tree-node {
  .clr-treenode-link,
  .clr-treenode-caret {
    margin-top: 0;
    margin-bottom: 0;
  }
  &.rootNode > .clr-treenode-content {
    padding-left: 0px !important;
  }
}

#compute-resource-selector {
  border: 2px solid $clr-lighter-midtone-gray;
  height: 150px;
  overflow: auto;

  &.invalid {
    border-color: $clr-red;
  }
}

.affinity-disabled {
  color: #ccc;
}

.affinity-label {
  font-size: .66667rem;
  letter-spacing: .01em;
  font-weight: 400;
  color: #000;
  margin-top: 1rem;
}

.affinity-help {
  height: 10px;
}

.affinity-help button {
  margin-top: 0px !important;
}

.affinity-alerts .alert-icon {
  color: #c92100;
}

.affinity-alerts .alert-items {
  padding-left: 0px;
  padding-top: 0px;
}

.affinity-alerts .alert-item {
  margin-bottom: 0px;
}
