<?xml version="1.0" encoding="UTF-8"?>
<!--
   vic plugin metadata.
   The <plugin> tag doesn't contain any moduleUri property because it is an HTML plugin.
-->
<plugin id="com.vmware.vic.ui" defaultBundle="com_vmware_vic">
    <resources>
        <resource locale="{locale}">
            <module uri="locales/vic-{locale}.swf"/>
        </resource>
    </resources>
    <dependencies>
        <!-- Allow HTML Client to display plugin icons in menus, shortcuts, object lists -->
        <dependency type="css" uri="vic/assets/css/plugin-icons.css" />
    </dependencies>
    <templateInstance id="com.vmware.vic.objectView.lists.allDashboards">
        <templateId>vsphere.core.inventorylist.objectCollectionTemplate</templateId>
        <variable name="namespace" value="com.vmware.vic.objectView_collection"/>
        <variable name="title" value="vSphere Integrated Containers"/>
        <variable name="icon" value="#{viinventory.vic.icon}"/>
        <variable name="objectType" value="vic:Root"/>
        <variable name="listViewId" value="com.vmware.vic.objectView.list"/>
        <variable name="parentUid" value="vsphere.core.navigator.virtualInfrastructure"/>
    </templateInstance>
    <templateInstance id="com.vmware.vic.viewTemplateInstance">
        <templateId>vsphere.core.inventory.objectViewTemplate</templateId>
        <variable name="namespace" value="com.vmware.vic.objectView"/>
        <variable name="objectType" value="vic:Root"/>
        <excludedExtension>com.vmware.vic.objectView.related</excludedExtension>
    </templateInstance>
    <!-- Add link to Object Navigator -->
    <extension id="com.vmware.vic.node">
        <extendedPoint>vise.navigator.nodespecs</extendedPoint>
        <object>
            <title>vSphere Integrated Containers</title>
            <icon>#{viinventory.vic.icon}</icon>
            <navigationTargetUid>com.vmware.vic.objectView_collection.domainView</navigationTargetUid>
            <parentUid>vsphere.core.navigator.solutionsCategory</parentUid>
        </object>
    </extension>
    <extension id="com.vmware.vic.objectView.lists.rootColumns">
        <extendedPoint>com.vmware.vic.objectView.list.columns</extendedPoint>
        <object>
            <items>
                <com.vmware.ui.lists.ColumnContainer>
                    <uid>com.vmware.vic.objectView.column.name</uid>
                    <dataInfo>
                        <com.vmware.ui.lists.ColumnDataSourceInfo>
                            <headerText>#{vic_workspace.datagrid.columns.name}</headerText>
                            <requestedProperties>
                                <String>name</String>
                            </requestedProperties>
                            <sortProperty>name</sortProperty>
                            <exportProperty>name</exportProperty>
                        </com.vmware.ui.lists.ColumnDataSourceInfo>
                        <com.vmware.ui.lists.ColumnDataSourceInfo>
                            <headerText>#{vic_workspace.datagrid.columns.vchVmsLen}</headerText>
                            <requestedProperties>
                                <String>vchVmsLen</String>
                            </requestedProperties>
                            <sortProperty>vchVmsLen</sortProperty>
                            <exportProperty>vchVmsLen</exportProperty>
                        </com.vmware.ui.lists.ColumnDataSourceInfo>
                        <com.vmware.ui.lists.ColumnDataSourceInfo>
                            <headerText>#{vic_workspace.datagrid.columns.containerVmsLen}</headerText>
                            <requestedProperties>
                                <String>containerVmsLen</String>
                            </requestedProperties>
                            <sortProperty>containerVmsLen</sortProperty>
                            <exportProperty>containerVmsLen</exportProperty>
                        </com.vmware.ui.lists.ColumnDataSourceInfo>
                    </dataInfo>
                </com.vmware.ui.lists.ColumnContainer>
            </items>
        </object>
    </extension>
    <extension id="com.vmware.samples.chassisa.iconLabelSpecCollection">
        <extendedPoint>vise.inventory.representationspecs</extendedPoint>
        <object>
            <objectType>vic:Root</objectType>
            <specCollection>
                <com.vmware.ui.objectrepresentation.model.IconLabelSpec>
                    <iconId>#{vic-root-icon}</iconId>
                </com.vmware.ui.objectrepresentation.model.IconLabelSpec>
            </specCollection>
        </object>
    </extension>
    <extension id="com.vmware.vic.objectView.summaryView">
        <extendedPoint>com.vmware.vic.objectView.summaryViews</extendedPoint>
        <object>
            <name>#{vic_workspace.summary.tab.label}</name>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/dist/index.html?view=summary-view</url>
                    </root>
                </object>
            </componentClass>
        </object>
    </extension>
    <extension id="com.vmware.vic.homeShortcut">
        <extendedPoint>vise.home.shortcuts</extendedPoint>
        <object>
            <name>vSphere Integrated Containers</name>
            <categoryUid>vsphere.core.controlcenter.inventoriesCategory</categoryUid>
            <icon>#{home.shortcut.icon}</icon>
            <targetViewUid>com.vmware.vic.objectView_collection.domainView</targetViewUid>
        </object>
    </extension>
    <extension id="com.vmware.vic.containerSummaryView">
        <extendedPoint>vsphere.core.vm.summarySectionViews.html</extendedPoint>
        <object>
            <name>#{container.label}</name>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/dist/index.html?view=portlet</url>
                    </root>
                </object>
            </componentClass>
        </object>
        <metadata>
            <objectType>VirtualMachine</objectType>
            <propertyConditions>
                <com.vmware.data.query.CompositeConstraint>
                    <nestedConstraints>
                        <com.vmware.data.query.PropertyConstraint>
                            <propertyName>isContainer</propertyName>
                            <comparator>EQUALS</comparator>
                            <comparableValue>
                                <Boolean>true</Boolean>
                            </comparableValue>
                        </com.vmware.data.query.PropertyConstraint>
                    </nestedConstraints>
                    <conjoiner>AND</conjoiner>
                </com.vmware.data.query.CompositeConstraint>
            </propertyConditions>
        </metadata>
    </extension>
    <extension id="com.vmware.vic.vchSummaryView">
        <extendedPoint>vsphere.core.vm.summarySectionViews.html</extendedPoint>
        <object>
            <name>#{vch.label}</name>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/dist/index.html?view=portlet</url>
                    </root>
                </object>
            </componentClass>
        </object>
        <metadata>
            <objectType>VirtualMachine</objectType>
            <propertyConditions>
                <com.vmware.data.query.CompositeConstraint>
                    <nestedConstraints>
                        <com.vmware.data.query.PropertyConstraint>
                            <propertyName>isVCH</propertyName>
                            <comparator>EQUALS</comparator>
                            <comparableValue>
                                <Boolean>true</Boolean>
                            </comparableValue>
                        </com.vmware.data.query.PropertyConstraint>
                    </nestedConstraints>
                    <conjoiner>AND</conjoiner>
                </com.vmware.data.query.CompositeConstraint>
            </propertyConditions>
        </metadata>
    </extension>
    <!-- Tab specs definition for VCH view -->
    <extension id="com.vmware.vic.customtab-vch">
        <extendedPoint>com.vmware.vic.objectView.views</extendedPoint>
        <precedingExtension>com.vmware.vic.vchSummaryView</precedingExtension>
        <object>
            <name>#{vic_workspace.vch.tab.label}</name>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/dist/index.html?view=vch-view</url>
                    </root>
                </object>
            </componentClass>
        </object>
    </extension>
    <!-- Tab specs definition for Container view -->
    <extension id="com.vmware.vic.customtab-container">
        <extendedPoint>com.vmware.vic.objectView.views</extendedPoint>
        <precedingExtension>com.vmware.vic.customVchView</precedingExtension>
        <object>
            <name>#{vic_workspace.container.tab.label}</name>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/dist/index.html?view=container-view</url>
                    </root>
                </object>
            </componentClass>
        </object>
    </extension>

    <extension id="com.vmware.vic.actionSet">
      <extendedPoint>vise.actions.sets</extendedPoint>
      <object>
         <actions>
            <!-- Create VCH -->
            <com.vmware.actionsfw.ActionSpec>
               <uid>com.vmware.vic.createVch</uid>
               <label>New Virtual Container Host...</label>
               <delegate>
                  <className>com.vmware.vsphere.client.htmlbridge.HtmlActionDelegate</className>
                  <object><root>
                      <!-- execute the action on client-side (html view in a modal dialog) -->
                      <actionUrl>/vsphere-client/vic/resources/dist/index.html?view=ui-actions</actionUrl>
                      <dialogTitle>Loading...</dialogTitle>
                  </root></object>
               </delegate>
            </com.vmware.actionsfw.ActionSpec>

            <!-- Delete VCH -->
            <com.vmware.actionsfw.ActionSpec>
               <uid>com.vmware.vic.deleteVch</uid>
               <label>Delete Virtual Container Host</label>
               <delegate>
                  <className>com.vmware.vsphere.client.htmlbridge.HtmlActionDelegate</className>
                  <object><root>
                      <!-- execute the action on client-side (html view in a modal dialog) -->
                      <actionUrl>/vsphere-client/vic/resources/dist/index.html?view=ui-actions</actionUrl>
                      <dialogTitle>Loading...</dialogTitle>
                  </root></object>
               </delegate>
            </com.vmware.actionsfw.ActionSpec>

          </actions>
      </object>
      <metadata>
         <objectType>VirtualMachine</objectType>
            <propertyConditions>
                <com.vmware.data.query.CompositeConstraint>
                    <nestedConstraints>
                        <com.vmware.data.query.PropertyConstraint>
                            <propertyName>isVCH</propertyName>
                            <comparator>EQUALS</comparator>
                            <comparableValue>
                                <Boolean>true</Boolean>
                            </comparableValue>
                        </com.vmware.data.query.PropertyConstraint>
                    </nestedConstraints>
                    <conjoiner>AND</conjoiner>
                </com.vmware.data.query.CompositeConstraint>
            </propertyConditions>
      </metadata>
   </extension>

   <extension id="com.vmware.vic.menu">
      <extendedPoint>vsphere.core.menus.solutionMenus</extendedPoint>
      <object>
         <label>All VIC Actions</label>
         <children>
            <Array>
               <com.vmware.actionsfw.ActionMenuItemSpec>
                  <!-- Create VCH -->
                  <type>action</type>
                  <uid>com.vmware.vic.createVch</uid>
               </com.vmware.actionsfw.ActionMenuItemSpec>

               <com.vmware.actionsfw.ActionMenuItemSpec>
                  <!-- Delete VCH -->
                  <type>action</type>
                  <uid>com.vmware.vic.deleteVch</uid>
               </com.vmware.actionsfw.ActionMenuItemSpec>
            </Array>
         </children>
      </object>
      <metadata>
         <objectType>VirtualMachine</objectType>
            <propertyConditions>
                <com.vmware.data.query.CompositeConstraint>
                    <nestedConstraints>
                        <com.vmware.data.query.PropertyConstraint>
                            <propertyName>isVCH</propertyName>
                            <comparator>EQUALS</comparator>
                            <comparableValue>
                                <Boolean>true</Boolean>
                            </comparableValue>
                        </com.vmware.data.query.PropertyConstraint>
                    </nestedConstraints>
                    <conjoiner>AND</conjoiner>
                </com.vmware.data.query.CompositeConstraint>
            </propertyConditions>
      </metadata>
   </extension>

    <!-- VCH VM Configure Left Nav Category -->
    <extension id="com.vmware.vic.vchConfigureCategory">
        <extendedPoint>vsphere.core.vm.manageCategories</extendedPoint>
        <object>
            <label>Virtual Container Host</label>
        </object>
        <metadata>
            <objectType>VirtualMachine</objectType>
            <propertyConditions>
                <com.vmware.data.query.CompositeConstraint>
                    <nestedConstraints>
                        <com.vmware.data.query.PropertyConstraint>
                            <propertyName>isVCH</propertyName>
                            <comparator>EQUALS</comparator>
                            <comparableValue>
                                <Boolean>true</Boolean>
                            </comparableValue>
                        </com.vmware.data.query.PropertyConstraint>
                    </nestedConstraints>
                    <conjoiner>AND</conjoiner>
                </com.vmware.data.query.CompositeConstraint>
            </propertyConditions>
        </metadata>
    </extension>

    <!-- VCH VM Configure General -->
    <extension id="com.vmware.vic.vchConfigureGeneral">
        <extendedPoint>vsphere.core.vm.manageViews</extendedPoint>
        <object>
            <name>General</name>
            <categoryUid>com.vmware.vic.vchConfigureCategory</categoryUid>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/build-dev/index.html?view=configure-vch-view-general</url>
                    </root>
                </object>
            </componentClass>
        </object>
    </extension>

    <!-- VCH VM Configure Compute -->
    <extension id="com.vmware.vic.vchConfigureCompute">
        <extendedPoint>vsphere.core.vm.manageViews</extendedPoint>
        <object>
            <name>Compute Capacity</name>
            <categoryUid>com.vmware.vic.vchConfigureCategory</categoryUid>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/build-dev/index.html?view=configure-vch-view-compute</url>
                    </root>
                </object>
            </componentClass>
        </object>
    </extension>

    <!-- VCH VM Configure Storage -->
    <extension id="com.vmware.vic.vchConfigureStorage">
        <extendedPoint>vsphere.core.vm.manageViews</extendedPoint>
        <object>
            <name>Storage Capacity</name>
            <categoryUid>com.vmware.vic.vchConfigureCategory</categoryUid>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/build-dev/index.html?view=configure-vch-view-storage</url>
                    </root>
                </object>
            </componentClass>
        </object>
    </extension>

    <!-- VCH VM Configure Network -->
    <extension id="com.vmware.vic.vchConfigureNetwork">
        <extendedPoint>vsphere.core.vm.manageViews</extendedPoint>
        <object>
            <name>Network</name>
            <categoryUid>com.vmware.vic.vchConfigureCategory</categoryUid>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/build-dev/index.html?view=configure-vch-view-network</url>
                    </root>
                </object>
            </componentClass>
        </object>
    </extension>

    <!-- VCH VM Configure Security -->
    <extension id="com.vmware.vic.vchConfigureSecurity">
        <extendedPoint>vsphere.core.vm.manageViews</extendedPoint>
        <object>
            <name>Security</name>
            <categoryUid>com.vmware.vic.vchConfigureCategory</categoryUid>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/build-dev/index.html?view=configure-vch-view-security</url>
                    </root>
                </object>
            </componentClass>
        </object>
    </extension>

    <!-- VCH VM Configure Registry -->
    <extension id="com.vmware.vic.vchConfigureRegistry">
        <extendedPoint>vsphere.core.vm.manageViews</extendedPoint>
        <object>
            <name>Registry Access</name>
            <categoryUid>com.vmware.vic.vchConfigureCategory</categoryUid>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/build-dev/index.html?view=configure-vch-view-registry</url>
                    </root>
                </object>
            </componentClass>
        </object>
    </extension>

    <!-- VCH VM Configure User -->
    <extension id="com.vmware.vic.vchConfigureOperations">
        <extendedPoint>vsphere.core.vm.manageViews</extendedPoint>
        <object>
            <name>Operations User</name>
            <categoryUid>com.vmware.vic.vchConfigureCategory</categoryUid>
            <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
                <object>
                    <root>
                        <url>/vsphere-client/vic/resources/build-dev/index.html?view=configure-vch-view-operations</url>
                    </root>
                </object>
            </componentClass>
        </object>
    </extension>

</plugin>
