<p>Define the access to this VCH for management, docker clients and registries.</p>

<p class="mb-1">For a basic configuration there is nothing to do.</p>
<small>
  <ul class="list compact" id="default-security-settings-list">
    <li>
      A self-signed server certificate will be generated and connections will be encrypted.
      However, any client can connect with authentication.
    </li>
    <li>Only private registries using common CAs will be available to docker clients.</li>
    <li>No restricted operations credentials are used to deploy this Virtual Container Host.</li>
  </ul>
</small>

<p>You can use the advanced options to change this basic configuration...</p>

<form class="pt-0" [formGroup]="form" novalidate>

  <a class="btn btn-link pl-0" (click)="toggleAdvancedMode()">
    {{ inAdvancedMode ? 'Basic' : 'Advanced' }}
    <clr-icon [attr.shape]="inAdvancedMode ? 'caret up' : 'caret down'"></clr-icon>
  </a>

  <div *ngIf="inAdvancedMode">

    <div class="alert alert-sm alert-info mt-0 mb-2">
      <div class="alert-item">
        <span class="alert-text">
          The following options will be used for VCH creation only when the advanced mode is open.
        </span>
      </div>
    </div>

    <clr-tabs (clrTabsCurrentTabContentChanged)="clearFileReaderError()">

      <clr-tab-link [clrTabLinkActive]="true">Docker API Access</clr-tab-link>
      <clr-tab-link>Registry Access</clr-tab-link>
      <clr-tab-link>Operations User</clr-tab-link>

      <clr-tab-content [clrTabContentActive]="true">

        <section class="form-block">

          <div class="form-group row mb-0">
            <div class="col-xs-3">

              <label>Use TLS</label>

            </div>
            <div class="col-xs">

              <div class="toggle-switch">
                <input type="checkbox" id="use-tls" formControlName="useTls">
                <label for="use-tls">Verify server and encrypt connection</label>
              </div>

            </div>
          </div>

          <div id="tls-dependent-input-groups" *ngIf="form.get('useTls').value">

            <div class="form-group row">
              <div class="col-xs-3">

                <label for="tls-cert-path">
                  Path to certificates folder
                </label>

              </div>
              <div class="col-xs-4">

                <label for="tls-cert-path"
                       aria-haspopup="true"
                       role="tooltip"
                       class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
                       [class.invalid]="form.get('tlsCertPath').invalid && (form.get('tlsCertPath').dirty || form.get('tlsCertPath').touched)">

                  <input id="tls-cert-path" class="form-control" type="text" formControlName="tlsCertPath">

                  <span class="tooltip-content" *ngIf="form.get('tlsCertPath').hasError('required')">
                    Path to certificates folder cannot be empty
                  </span>

                  <span class="tooltip-content" *ngIf="form.get('tlsCertPath').hasError('pattern')">
                    Path is not valid
                  </span>

                </label>
              </div>

              <clr-signpost [clrSignpostPosition]="'left-top'">
                <clr-signpost-content *clrIfOpen="signpostOpenState">
                  <span>The local directory where generated certificates are stored or searched</span>
                </clr-signpost-content>
              </clr-signpost>

            </div>

            <label>Server Certificates</label>

            <div class="form-group row mb-0 mt-1">
              <div class="col-xs-3">

                <label>Source of certificates</label>

              </div>
              <div class="col-xs">

                <div class="radio-inline">
                  <input type="radio" value="autogenerated" formControlName="serverCertSource" id="server-autogen">
                  <label for="server-autogen">Auto-generate</label>
                </div>

                <div class="radio-inline">
                  <input type="radio" value="existing" formControlName="serverCertSource" id="server-existing">
                  <label for="server-existing">Existing</label>
                </div>

              </div>
            </div>

            <!-- sub block for autogenerated server cert -->
            <div *ngIf="form.get('serverCertSource').value === 'autogenerated'">

              <p class="mt-0 mb-1">
                If an existing server certificate in the certificates folder matches the CommonName and
                Organization it will be loaded instead of generating a new one.
              </p>

              <div class="form-group row mb-0">
                <div class="col-xs-3">

                  <label for="tls-cname">
                    Common Name (CN)
                  </label>

                </div>
                <div class="col-xs-4">

                  <input id="tls-cname" class="form-control" type="text" formControlName="tlsCname">

                </div>

                <clr-signpost [clrSignpostPosition]="'left-top'">
                  <clr-signpost-content *clrIfOpen="signpostOpenState">
                    <span>An FQDN, IP or wildcard domain that matches all FQDNs in a domain</span>
                  </clr-signpost-content>
                </clr-signpost>

              </div>

              <div class="form-group row mb-0">
                <div class="col-xs-3">

                  <label for="organization">
                    Organization (O)
                  </label>

                </div>
                <div class="col-xs-4">

                  <input id="organization" class="form-control" type="text" formControlName="organization">

                </div>
              </div>

              <div class="form-group row">
                <div class="col-xs-3">

                  <label for="certificate-key-size">
                    Certificate key size
                  </label>

                </div>
                <div class="col-xs-4">

                  <label for="certificate-key-size"
                         aria-haspopup="true"
                         role="tooltip"
                         class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
                         [class.invalid]="form.get('certificateKeySize').invalid && (form.get('certificateKeySize').dirty || form.get('certificateKeySize').touched)">

                    <input id="certificate-key-size" class="form-control" type="text" formControlName="certificateKeySize">

                    <span class="tooltip-content" *ngIf="form.get('certificateKeySize').hasError('required')">
                      Certificate key size cannot be empty
                    </span>

                    <span class="tooltip-content" *ngIf="form.get('certificateKeySize').hasError('pattern')">
                      Certificate key size should be numeric
                    </span>

                  </label>

                </div>
              </div>

            </div>

            <!-- sub block for existing server cert -->
            <div *ngIf="form.get('serverCertSource').value === 'existing'">

              <p class="mt-0 mb-1">
                You must provide file paths for an existing server certificate and corresponding key.
              </p>

              <div class="alert alert-danger mb-1" *ngIf="tlsServerError">
                <div class="alert-item">
                  <span class="alert-text">
                    {{ tlsServerError }}
                  </span>
                </div>
              </div>

              <div class="form-group row mb-0">
                <div class="col-xs-3">

                  <label class="required" for="tls-server-cert">
                    Server certificate
                  </label>

                </div>
                <div class="col-xs-6">

                  <span class="text-muted" *ngIf="!tlsServerCertContents">Select X.509 certificate pem file</span>
                  <span *ngIf="tlsServerCertContents">
                    {{ tlsServerCertContents.name }}, expires: {{ tlsServerCertContents.expires | date : 'mediumDate'}}
                  </span>

                  <input id="tls-server-cert"
                         class="hidden-xs-up"
                         type="file"
                         formControlName="tlsServerCert"
                         (change)="addFileContent($event, 'tlsServerCert')">

                </div>

                <div class="col-xs px-0 add-remove-actions">

                  <label class="btn btn-link my-0" for="tls-server-cert">
                    {{ tlsServerCertContents ? 'Replace' : 'Select' }}
                  </label>

                </div>
              </div>

              <div class="form-group row">
                <div class="col-xs-3">

                  <label class="required" for="tls-server-key">
                    Server private key
                  </label>

                </div>
                <div class="col-xs-6">

                  <span class="text-muted" *ngIf="!tlsServerKeyContents">Select encrypted key pem file</span>
                  <span *ngIf="tlsServerKeyContents">
                        {{ tlsServerKeyContents.name }}
                      </span>

                  <input id="tls-server-key"
                         class="hidden-xs-up"
                         type="file"
                         formControlName="tlsServerKey"
                         (change)="addFileContent($event, 'tlsServerKey')">

                </div>
                <div class="col-xs px-0 add-remove-actions">

                  <label class="btn btn-link my-0" for="tls-server-key">
                    {{ tlsServerKeyContents ? 'Replace' : 'Select' }}
                  </label>

                </div>
              </div>

            </div>

            <div class="row flex-items-xs-middle">
              <div class="col-xs-3">

                <label>Client Certificates</label>

              </div>
              <div class="col-xs">

                <div class="form-group mb-0 row">
                  <div class="col-xs">

                    <div class="toggle-switch">
                      <input type="checkbox" id="use-client-auth" formControlName="useClientAuth">
                      <label for="use-client-auth">Clients will need to authenticate</label>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <!-- sub block for use client auth -->
            <div *ngIf="form.get('useClientAuth').value">

              <div class="form-group row mb-0 mt-1">
                <div class="col-xs-3">

                  <label>
                    Source of certificates
                  </label>

                </div>
                <div class="col-xs">

                  <div class="radio-inline">
                    <input type="radio" value="autogenerated" formControlName="clientCertSource" id="client-autogen">
                    <label for="client-autogen">Auto-generate</label>
                  </div>

                  <div class="radio-inline">
                    <input type="radio" value="existing" formControlName="clientCertSource" id="client-existing">
                    <label for="client-existing">Existing</label>
                  </div>

                </div>
              </div>

              <!-- sub block for existing client cert -->
              <div *ngIf="form.get('clientCertSource').value === 'existing'">

                <p class="mt-0 mb-1">
                  You can use one or more CA certificates you may have created using some other certificate authority.
                </p>

                <div class="alert alert-danger mb-1" *ngIf="tlsCaError">
                  <div class="alert-item">
                    <span class="alert-text">
                      {{ tlsCaError }}
                    </span>
                  </div>
                </div>

                <div formArrayName="tlsCas" *ngFor="let tlsCa of form.controls.tlsCas.controls; index as i; last as isLast">

                  <div [formGroupName]="i" class="form-group row mb-0">
                    <div class="col-xs-6 text-truncate">

                      <span class="text-muted" *ngIf="!tlsCaContents[i]">Select certificate pem file</span>
                      <span *ngIf="tlsCaContents[i]">
                        {{ tlsCaContents[i].name }}, expires: {{ tlsCaContents[i].expires | date : 'mediumDate'}}
                      </span>

                      <input id="tls-ca-{{i}}"
                             class="hidden-xs-up"
                             type="file"
                             formControlName="tlsCa"
                             (change)="addFileContent($event, 'tlsCas', i, isLast)">

                    </div>
                    <div class="col-xs px-0 add-remove-actions">

                      <label class="btn btn-link my-0" for="tls-ca-{{i}}">
                        {{ tlsCaContents[i] ? 'Replace' : 'Select' }}
                      </label>

                      <clr-icon class="is-solid mt-0"
                                shape="times-circle"
                                *ngIf="tlsCaContents[i]"
                                (click)="removeFormArrayEntry('tlsCas', i)">
                      </clr-icon>

                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>

        </section>

      </clr-tab-content>
      <clr-tab-content>

        <section class="form-block">

          <div class="toggle-switch">
            <input type="checkbox" id="use-whitelist-registry" formControlName="useWhitelistRegistry">
            <label for="use-whitelist-registry">Whitelist registry mode</label>
          </div>

          <!-- render the following when whitelist mode is used -->
          <div class="mb-2" *ngIf="form.get('useWhitelistRegistry').value">

            <p class="mt-1 mb-2">
              This VCH can access only those registries in the following whitelist.
            </p>

            <div formArrayName="whitelistRegistries"
                 *ngFor="let whitelistRegistry of form.controls.whitelistRegistries.controls; let i=index">

              <div [formGroupName]="i" class="form-group row mb-0">
                <div class="col-xs-3">

                  <label *ngIf="i === 0">
                    Whitelist registries
                  </label>

                </div>
                <div class="col-xs-5">

                  <label aria-haspopup="true"
                         role="tooltip"
                         class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
                         [class.invalid]="form.get('whitelistRegistries').controls[i].controls.whitelistRegistry.invalid && (form.get('whitelistRegistries').controls[i].controls.whitelistRegistry.dirty || form.get('whitelistRegistries').controls[i].controls.whitelistRegistry.touched)">

                    <input class="form-control"
                           type="text"
                           placeholder="IP/FQDN:Port, CIDR or wildcard domain"
                           formControlName="whitelistRegistry">

                    <span class="tooltip-content" *ngIf="form.get('whitelistRegistries').controls[i].controls.whitelistRegistry.hasError('required')">
                      Whitelist registry cannot be empty
                    </span>

                    <span class="tooltip-content" *ngIf="form.get('whitelistRegistries').controls[i].controls.whitelistRegistry.hasError('pattern')">
                      IP address, FQDN, CIDR, or Wildcard domain is not valid
                    </span>

                  </label>

                </div>
                <div class="col-xs-2">

                  <div class="select form-control">
                    <select formControlName="whitelistRegType">
                      <option value="secure">Secure</option>
                      <option value="insecure">Insecure</option>
                    </select>
                  </div>

                </div>
                <div class="col-xs-1 px-0 add-remove-actions">

                  <clr-icon class="is-solid"
                            shape="times-circle"
                            (click)="removeFormArrayEntry('whitelistRegistries', i)"
                            *ngIf="i > 0">
                  </clr-icon>

                  <clr-icon class="is-solid"
                            shape="plus-circle"
                            (click)="addNewFormArrayEntry('whitelistRegistries')"
                            *ngIf="i === form.controls.whitelistRegistries.controls.length - 1">
                  </clr-icon>

                </div>
              </div>

            </div>

          </div>

          <!-- render the following when whitelist mode is not used -->
          <div class="form-block mb-2" *ngIf="!form.get('useWhitelistRegistry').value">

            <p class="mt-1 mb-2">
              This VCH can access all secure registries.
            </p>

            <label>Insecure registry access</label>

            <p class="mt-0 mb-1">
              Add registries which this VCH should not verify and access via HTTP if HTTPS fails.
            </p>

            <div formArrayName="insecureRegistries"
                 *ngFor="let insecureRegistry of form.controls.insecureRegistries.controls; let j=index">

              <div [formGroupName]="j" class="form-group row mb-0">
                  <div class="col-xs-4">

                    <input class="form-control"
                           type="text"
                           placeholder="IP or FQDN"
                           formControlName="insecureRegistryIp">

                  </div>
                  <span class="mx-0 px-0">:</span>
                  <div class="col-xs-2">

                    <label aria-haspopup="true"
                           role="tooltip"
                           class="tooltip tooltip-validation tooltip-md tooltip-top-left"
                           [class.invalid]="form.get('insecureRegistries').controls[j].controls.insecureRegistryPort.invalid && (form.get('insecureRegistries').controls[j].controls.insecureRegistryPort.dirty || form.get('insecureRegistries').controls[j].controls.insecureRegistryPort.touched)">

                      <input class="form-control"
                             placeholder="Port"
                             type="text"
                             formControlName="insecureRegistryPort">

                      <span class="tooltip-content" *ngIf="form.get('insecureRegistries').controls[j].controls.insecureRegistryPort.hasError('maxlength')">
                        Port cannot be more than 5 digits long
                      </span>

                      <span class="tooltip-content" *ngIf="form.get('insecureRegistries').controls[j].controls.insecureRegistryPort.hasError('pattern')">
                        Port should be numeric
                      </span>

                    </label>
                  </div>
                  <div class="col-xs-1 px-0 add-remove-actions">

                    <clr-icon class="is-solid"
                              shape="times-circle"
                              (click)="removeFormArrayEntry('insecureRegistries', j)"
                              *ngIf="j > 0">
                    </clr-icon>
                    <clr-icon class="is-solid"
                              shape="plus-circle"
                              (click)="addNewFormArrayEntry('insecureRegistries')"
                              *ngIf="j === form.controls.insecureRegistries.controls.length - 1">
                    </clr-icon>

                  </div>
                </div>

              </div>

          </div>

          <label>Additional registry certificates</label>

          <p class="mt-0 mb-1">
            Add registry certificates for those registries which need custom or self-signed certificates,
            like the vSphere Integrated Containers Registry.
          </p>

          <div class="alert alert-danger mb-1" *ngIf="registryCaError">
            <div class="alert-item">
              <span class="alert-text">
                {{ registryCaError }}
              </span>
            </div>
          </div>

            <div formArrayName="registryCas" *ngFor="let registryCa of form.controls.registryCas.controls; index as i; last as isLast">

              <div [formGroupName]="i" class="form-group row mb-0">
                <div class="col-xs-6 text-truncate">

                  <span class="text-muted" *ngIf="!registryCaContents[i]">Select certificate pem file</span>
                  <span *ngIf="registryCaContents[i]">
                    {{ registryCaContents[i].name }}, expires: {{ registryCaContents[i].expires | date : 'mediumDate'}}
                  </span>

                  <input id="registry-ca-{{i}}"
                         class="form-control hidden-xs-up"
                         type="file"
                         formControlName="registryCa"
                         (change)="addFileContent($event, 'registryCas', i, isLast)">

                </div>
                <div class="col-xs px-0 add-remove-actions">

                  <label class="btn btn-link my-0" for="registry-ca-{{i}}">
                    {{ registryCaContents[i] ? 'Replace' : 'Select' }}
                  </label>

                  <clr-icon class="is-solid mt-0"
                            shape="times-circle"
                            *ngIf="registryCaContents[i]"
                            (click)="removeFormArrayEntry('registryCas', i)">
                  </clr-icon>

                </div>
              </div>

            </div>

        </section>

      </clr-tab-content>
      <clr-tab-content>

        <section class="form-block">

          <p class="mt-1 mb-2">
            This VCH will be managed by the vSphere user account that deploys it. You can choose a different vSphere user for deployment
            and operation here.
          </p>

          <div class="form-group row mb-2">
            <div class="col-xs-3">

              <label for="ops-user">
                vSphere user account
              </label>

            </div>
            <div class="col-xs-5">

              <input id="ops-user"
                     class="form-control"
                     type="text"
                     placeholder="vSphere user that deploys VCH"
                     formControlName="opsUser">

            </div>
          </div>

          <small>
            Note: If you choose to define a user account, you must place the bridge network port group
            in a network folder that has the Read-Only role with propagation enabled.
          </small>

        </section>

      </clr-tab-content>
    </clr-tabs>

  </div>
</form>
