@import "../../../../node_modules/@clr/ui/src/color/variables.color";

:host ::ng-deep clr-signpost .signpost-action {
  margin-top: 0;
  margin-bottom: 0;
}

.add-remove-actions {

  clr-icon {
    margin-top: 9px;
    cursor: pointer;
  }

  .btn {
    color: $clr-action-blue-dark-midtone;

    &:hover {
      color: $clr-action-blue-dark;
    }
  }
}

.toggle-switch--no-label {
  margin-right: 0;
}

.text-muted {
  color: #818a91!important;
}

.hidden-xs-up {
  display: none!important;
}

b {
  color: #c92100;
}

.form .form-block>label, form .form-block>label {
  font-size: .666667rem;
  letter-spacing: .01em;
  font-weight: 400;
  color: #000;
  margin-bottom: 0.25rem;
}