<ng-container *ngIf="vchInfo | async as vchUIModel; else loadingContent">
  <vic-configure-vch-view-container [title]="i18n.translate('vch.registry.registryAccess')"
                                    [vchUiModelKey]="'registry'"
                                    [vchId]="vchId">
    <vic-vch-registry [readOnly]="true"
                     [model]="vchUIModel.registry">
    </vic-vch-registry>
  </vic-configure-vch-view-container>
</ng-container>
<ng-template #loadingContent>
  <div class="vic-configure-container-view-spinner-container">
    <span class="spinner spinner-md">
      Loading...
    </span>
  </div>
</ng-template>
