<div class="summary-container">
  <div class="col-xs-12 mb-2" *ngIf="error">
    <div class="row">
      <div class="col-xs-12">
        <vic-ova-verification [errorObj]="error" (refreshEvent)="checkVicMachineServer()">
        </vic-ova-verification>
      </div>
    </div>
  </div>
  <div class="col-xs-12 summary-wrapper">
    <img class="vic-summary-view-logo" src="{{ vicLogoPath }}">
    <section class="summary-content">
      <div class="summary-title">VIC PLUGIN INFORMATION</div>
      <ul class="summary-items-list">
        <li id="vendor">
          <span class="summary-label">
            {{ vicI18n.translate(WS_SUMMARY_CONSTANTS, 'VENDOR') }}
          </span>
          <span class="summary-value">
            VMware
          </span>
        </li>
        <li id="version">
          <span class="summary-label">
            {{ vicI18n.translate(WS_SUMMARY_CONSTANTS, 'VERSION') }}
          </span>
          <span class="summary-value">
            {{ pluginVersion }}
          </span>
        </li>
        <li id="vch_len">
          <span class="summary-label">
            {{ vicI18n.translate(WS_SUMMARY_CONSTANTS, 'VCH') }}
          </span>
          <span class="summary-value">
            {{ vchVmsLen }}
          </span>
        </li>
      </ul>
    </section>
    <section class="summary-content">
      <div class="summary-title">VIC APPLIANCE INFORMATION</div>
      <ul class="summary-items-list">
          <li>
              <span class="summary-label">
                  {{ vicI18n.translate(WS_SUMMARY_CONSTANTS, 'VERSION') }}
              </span>
              <span class="summary-value">  
                  {{applianceVersion}}
              </span>
           </li>
          <li>
             <span class="summary-label">
                   IP Address
             </span>
             <span class="summary-value">
                  {{applianceIp}}
             </span>
          </li>
        </ul>
    </section>
  </div>
  <div class="col-xs">
    <p class="summary-intro mt-3">
      vSphere Integrated Containers Engine is a container runtime for vSphere. It allows developers familiar with
      Docker to develop in containers and deploy them alongside traditional VM-based workloads on vSphere clusters,
      and allowing for these workloads to be managed through the vSphere UI in a way familiar to existing vSphere
      admins.
    </p>
    <a href="https://vmware.github.io/vic-product/assets/files/html/1.4/index.html"
       target="_blank"
       class="btn btn-link btn-sm px-0">Read more...</a>
  </div>
</div>
