.cli-row {
  margin-bottom: 0px;
}

.copy-alert-row {
  margin-top: 0px;
}

textarea#cliCommand {
  min-height: 150px;
  font-size: 0.9em;
  margin-top: 10px;
}

.btn-copy {
  margin-left: 0px;
  color: #9a9a9a;
  line-height: 0px!important;
  height: 1rem!important;;
}
