@import "../../../../node_modules/@clr/ui/src/color/variables.color";

.add-remove-actions {

  clr-icon {
    margin-top: 9px;
    cursor: pointer;
  }

  .btn {
    color: $clr-action-blue-dark-midtone;

    &:hover {
      color: $clr-action-blue-dark;
    }
  }
}
