<form class="clr-form clr-form-compact" [formGroup]="form" novalidate>
  <p class="mt-0">Define the access to this VCH for registries.</p>
  <section class="form-block" id="registry">
    <div class="clr-control-label clr-col-12 clr-col-md-3 form-block my-0">
      <label class="my-0" for="use-client-auth">Whitelist registry mode</label>
    </div>
    <div class="clr-toggle-wrapper">
      <input type="checkbox" id="use-whitelist-registry" class="clr-toggle" formControlName="useWhitelistRegistry">
      <label for="use-whitelist-registry"></label>
    </div>
    <div class="mb-2" *ngIf="form.get('useWhitelistRegistry').value">
      <p class="mt-1 mb-2">This VCH can access only those registries in the following whitelist.</p>
      <div formArrayName="whitelistRegistries"
           *ngFor="let whitelistRegistry of form.get('whitelistRegistries')['controls']; let i=index">
        <div [formGroupName]="i" class="clr-form-control clr-row">
          <div class="clr-control-label clr-col-12 clr-col-md-3">
            <label *ngIf="i === 0" class="required">Whitelist registries<b>*</b></label>
          </div>
          <div class="clr-control-container clr-col-12 clr-col-md-5">
            <label aria-haspopup="true"
                   role="tooltip"
                   class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
                   [class.invalid]="form.get('whitelistRegistries')['controls'][i]['controls'].whitelistRegistry.invalid && (form.get('whitelistRegistries')['controls'][i]['controls'].whitelistRegistry.dirty || form.get('whitelistRegistries')['controls'][i]['controls'].whitelistRegistry.touched)">
              <input class="clr-input"
                     type="text"
                     placeholder="IP/FQDN:Port, CIDR or wildcard domain"
                     formControlName="whitelistRegistry">
              <span class="tooltip-content" *ngIf="form.get('whitelistRegistries')['controls'][i]['controls'].whitelistRegistry.hasError('required')">
                Whitelist registry cannot be empty
              </span>
              <span class="tooltip-content" *ngIf="form.get('whitelistRegistries')['controls'][i]['controls'].whitelistRegistry.hasError('pattern')">
                IP address, FQDN, CIDR, or Wildcard domain is not valid
              </span>
            </label>
          </div>
          <div class="clr-control-container clr-col-12 clr-col-md-2">
            <div class="clr-select-wrapper">
              <select formControlName="whitelistRegType" class="clr-select">
                <option value="secure">Secure</option>
                <option value="insecure">Insecure</option>
              </select>
            </div>
          </div>
          <div class="clr-control-container clr-col-12 clr-col-md-1 px-0 add-remove-actions">
            <clr-icon class="is-solid"
                      shape="times-circle"
                      (click)="removeFormArrayEntry('whitelistRegistries', i)"
                      *ngIf="i > 0">
            </clr-icon>
            <clr-icon class="is-solid"
                      shape="plus-circle"
                      (click)="addNewFormArrayEntry('whitelistRegistries')"
                      *ngIf="i === form.get('whitelistRegistries')['controls'].length - 1">
            </clr-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="form-block mb-2" *ngIf="!form.get('useWhitelistRegistry').value">
      <p class="mt-1 mb-2">This VCH can access all secure registries.</p>
      <label>Insecure registry access</label>
      <p class="mt-0 mb-1">Add registries which this VCH should not verify and access via HTTP if HTTPS fails.</p>
      <div formArrayName="insecureRegistries"
           *ngFor="let insecureRegistry of form.get('insecureRegistries')['controls']; let j=index">
        <div [formGroupName]="j" class="clr-form-control clr-row mb-0">
          <div class="clr-control-container clr-col-12 clr-col-md-4">
            <input class="clr-input"
                   type="text"
                   placeholder="IP or FQDN"
                   formControlName="insecureRegistryIp">
          </div>
          <span class="mx-0 px-0">:</span>
          <div class="clr-control-container clr-col-12 clr-col-md-2">
            <label aria-haspopup="true"
                   role="tooltip"
                   class="tooltip tooltip-validation tooltip-md tooltip-top-left"
                   [class.invalid]="form.get('insecureRegistries')['controls'][j]['controls'].insecureRegistryPort.invalid && (form.get('insecureRegistries')['controls'][j]['controls'].insecureRegistryPort.dirty || form.get('insecureRegistries')['controls'][j]['controls'].insecureRegistryPort.touched)">
              <input class="clr-input"
                     placeholder="Port"
                     type="text"
                     formControlName="insecureRegistryPort">
              <span class="tooltip-content" *ngIf="form.get('insecureRegistries')['controls'][j]['controls'].insecureRegistryPort.hasError('maxlength')">
                Port cannot be more than 5 digits long
              </span>
              <span class="tooltip-content" *ngIf="form.get('insecureRegistries')['controls'][j]['controls'].insecureRegistryPort.hasError('pattern')">
                Port should be numeric
              </span>
            </label>
          </div>
          <div class="clr-control-container clr-col-12 clr-col-md-1 px-0 add-remove-actions">
            <clr-icon class="is-solid"
                      shape="times-circle"
                      (click)="removeFormArrayEntry('insecureRegistries', j)"
                      *ngIf="j > 0">
            </clr-icon>
            <clr-icon class="is-solid"
                      shape="plus-circle"
                      (click)="addNewFormArrayEntry('insecureRegistries')"
                      *ngIf="j === form.get('insecureRegistries')['controls'].length - 1">
            </clr-icon>
          </div>
        </div>
      </div>
    </div>
    <label>Additional registry certificates</label>
    <p class="mt-0 mb-1">
      Add registry certificates for those registries which need custom or self-signed certificates,
      like the vSphere Integrated Containers Registry.
    </p>
    <div class="alert alert-danger mb-1" *ngIf="registryCaError">
      <div class="alert-item">
        <span class="alert-text">{{ registryCaError }}</span>
      </div>
    </div>
    <div formArrayName="registryCas" *ngFor="let registryCa of form.get('registryCas')['controls']; index as i; last as isLast">
      <div [formGroupName]="i" class="clr-form-control clr-row mb-0">
        <div class="clr-control-container clr-col-12 clr-col-md-6 text-truncate">
          <span class="text-muted" *ngIf="!registryCaContents[i]">Select X.509 certificate pem file</span>
          <span *ngIf="registryCaContents[i]">
            {{ registryCaContents[i].name }}, expires: {{ registryCaContents[i].expires | date : 'mediumDate'}}
          </span>
          <input id="registry-ca-{{i}}"
                 class="clr-input hidden-xs-up"
                 type="file"
                 formControlName="registryCa"
                 (change)="addFileContent($event, 'registryCas', i, isLast)">
        </div>
        <div class="clr-control-label clr-col-12 clr-col-md-3 px-0 add-remove-actions">
          <label class="btn btn-link my-0" for="registry-ca-{{i}}">
            {{ registryCaContents[i] ? 'Replace' : 'Select' }}
          </label>
          <clr-icon class="is-solid mt-0"
                    shape="times-circle"
                    *ngIf="registryCaContents[i]"
                    (click)="removeFormArrayEntry('registryCas', i)">
          </clr-icon>
        </div>
      </div>
    </div>
  </section>
</form>
