<!-- Read Only content -->
<div *ngIf="readOnly; else formContent">
  <ng-container *ngIf="!portgroupsLoading; else loadingContent">
    <!-- Required networks -->
    <clr-stack-view>
      <clr-stack-header>{{ i18n.translate('vch.storage.network.requiredVchNetworks') }}</clr-stack-header>
      <!-- bridge network -->
      <clr-stack-block #bridgeBlock (clrSbExpandedChange)="bridgeNetworkExpanded = !bridgeNetworkExpanded">
        <clr-stack-label>{{ i18n.translate('vch.storage.network.bridgeNetwork') }}</clr-stack-label>
        <clr-stack-content *ngIf="!bridgeNetworkExpanded">{{ model.bridgeNetwork }}, {{ model.bridgeNetworkRange }}</clr-stack-content>
        <clr-stack-block>
          <clr-stack-label>{{ i18n.translate('vch.storage.network.portgroupName') }}</clr-stack-label>
          <clr-stack-content>{{ model.bridgeNetwork }}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>{{ i18n.translate('vch.storage.network.range') }}</clr-stack-label>
          <clr-stack-content>{{ model.bridgeNetworkRange }}</clr-stack-content>
        </clr-stack-block>
      </clr-stack-block>
      <!-- public network -->
      <clr-stack-block #bridgeBlock (clrSbExpandedChange)="publicNetworkExpanded = !publicNetworkExpanded">
        <clr-stack-label>{{ i18n.translate('vch.storage.network.publicNetwork') }}</clr-stack-label>
        <clr-stack-content *ngIf="!publicNetworkExpanded">
          <ng-container *ngIf="model.publicNetworkType === 'dhcp'; else publicStatic">
            {{ model.publicNetwork }}, {{ model.publicNetworkType }}
          </ng-container>
          <ng-template #publicStatic>
            {{ model.publicNetwork }}, {{ model.publicNetworkIp }}
          </ng-template>
        </clr-stack-content>
        <clr-stack-block>
          <clr-stack-label>{{ i18n.translate('vch.storage.network.portgroupName') }}</clr-stack-label>
          <clr-stack-content>{{ model.publicNetwork }}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block *ngIf="model.publicNetworkType === 'dhcp'; else publicStaticInfo">
          <clr-stack-label>DHCP</clr-stack-label>
          <clr-stack-content></clr-stack-content>
        </clr-stack-block>
        <ng-template #publicStaticInfo>
          <clr-stack-block>
            <clr-stack-label>{{ i18n.translate('vch.storage.network.static') }}</clr-stack-label>
            <clr-stack-content>{{ model.publicNetworkIp }}</clr-stack-content>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>{{ i18n.translate('vch.storage.network.gateway') }}</clr-stack-label>
            <clr-stack-content>{{ model.publicNetworkGateway }}</clr-stack-content>
          </clr-stack-block>
        </ng-template>
      </clr-stack-block>
      <!-- dns server -->
      <clr-stack-block>
        <clr-stack-label>{{ i18n.translate('vch.storage.network.dnsServer') }}</clr-stack-label>
        <clr-stack-content>{{ model.dnsServer }}</clr-stack-content>
      </clr-stack-block>
    </clr-stack-view>

    <!-- Optional networks -->
    <clr-stack-view *ngIf="inAdvancedMode">
      <clr-stack-header>{{ i18n.translate('vch.storage.network.optionalVchNetworks') }}</clr-stack-header>
      <!-- client network -->
      <clr-stack-block *ngIf="model.clientNetwork !== ''" (clrSbExpandedChange)="clientNetworkExpanded = !clientNetworkExpanded">
        <clr-stack-label>{{ i18n.translate('vch.storage.network.clientNetwork') }}</clr-stack-label>
        <clr-stack-content *ngIf="!clientNetworkExpanded">
          <ng-container *ngIf="model.clientNetworkType === 'dhcp'; else clientStatic">
            {{ model.clientNetwork }}, {{ model.clientNetworkType }}
          </ng-container>
          <ng-template #clientStatic>
            {{ model.clientNetwork }}, {{ model.clientNetworkIp }}
          </ng-template>
        </clr-stack-content>
        <clr-stack-block>
          <clr-stack-label>{{ i18n.translate('vch.storage.network.portgroupName') }}</clr-stack-label>
          <clr-stack-content>{{ model.clientNetwork }}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block *ngIf="model.clientNetworkType === 'dhcp'; else clientStaticInfo">
          <clr-stack-label>DHCP</clr-stack-label>
          <clr-stack-content></clr-stack-content>
        </clr-stack-block>
        <ng-template #clientStaticInfo>
          <clr-stack-block>
            <clr-stack-label>{{ i18n.translate('vch.storage.network.static') }}</clr-stack-label>
            <clr-stack-content>{{ model.clientNetworkIp }}</clr-stack-content>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>{{ i18n.translate('vch.storage.network.gateway') }}</clr-stack-label>
            <clr-stack-content>{{ model.clientNetworkGateway }}</clr-stack-content>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>{{ i18n.translate('vch.storage.network.routingDestinations') }}</clr-stack-label>
            <clr-stack-content>{{ model.clientNetworkRouting }}</clr-stack-content>
          </clr-stack-block>
        </ng-template>
      </clr-stack-block>
      <!-- management network -->
      <clr-stack-block *ngIf="model.managementNetwork !== ''" (clrSbExpandedChange)="managementNetworkExpanded = !managementNetworkExpanded">
        <clr-stack-label>{{ i18n.translate('vch.storage.network.managementNetwork') }}</clr-stack-label>
        <clr-stack-content *ngIf="!managementNetworkExpanded">
          <ng-container *ngIf="model.managementNetworkType === 'dhcp'; else managementStatic">
            {{ model.managementNetwork }}, {{ model.managementNetworkType }}
          </ng-container>
          <ng-template #managementStatic>
            {{ model.managementNetwork }}, {{ model.managementNetworkIp }}
          </ng-template>
        </clr-stack-content>
        <clr-stack-block>
          <clr-stack-label>{{ i18n.translate('vch.storage.network.portgroupName') }}</clr-stack-label>
          <clr-stack-content>{{ model.managementNetwork }}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block *ngIf="model.managementNetworkType === 'dhcp'; else managementStaticInfo">
          <clr-stack-label>DHCP</clr-stack-label>
          <clr-stack-content></clr-stack-content>
        </clr-stack-block>
        <ng-template #managementStaticInfo>
          <clr-stack-block>
            <clr-stack-label>{{ i18n.translate('vch.storage.network.static') }}</clr-stack-label>
            <clr-stack-content>{{ model.managementNetworkIp }}</clr-stack-content>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>{{ i18n.translate('vch.storage.network.gateway') }}</clr-stack-label>
            <clr-stack-content>{{ model.managementNetworkGateway }}</clr-stack-content>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>{{ i18n.translate('vch.storage.network.routingDestinations') }}</clr-stack-label>
            <clr-stack-content>{{ model.managementNetworkRouting }}</clr-stack-content>
          </clr-stack-block>
        </ng-template>
      </clr-stack-block>
      <!-- http -->
      <clr-stack-block>
        <clr-stack-label>{{ i18n.translate('vch.storage.network.httpProxy') }}</clr-stack-label>
        <clr-stack-content>{{ model.httpProxy }}{{ model.httpProxyPort ? ':' : ''}}{{ model.httpProxyPort }}</clr-stack-content>
      </clr-stack-block>
      <!-- https -->
      <clr-stack-block>
        <clr-stack-label>{{ i18n.translate('vch.storage.network.httpsProxy') }}</clr-stack-label>
        <clr-stack-content>{{ model.httpsProxy }}{{ model.httpsProxyPort ? ':' : ''}}{{ model.httpsProxyPort }}</clr-stack-content>
      </clr-stack-block>

    </clr-stack-view>

    <!-- Containers networks -->
    <clr-stack-view *ngIf="model.containerNetworks.length > 0">
      <clr-stack-header>{{ i18n.translate('vch.storage.network.optionalContainerNetworks') }}</clr-stack-header>
      <ng-container *ngFor="let container of model.containerNetworks; let idx = index;">
        <clr-stack-block (clrSbExpandedChange)="containerNetworksExpanded[idx] = !containerNetworksExpanded[idx]">
          <clr-stack-label>{{ i18n.translate('vch.storage.network.containerGroup') }} {{ idx + 1 }}</clr-stack-label>
          <clr-stack-content *ngIf="!containerNetworksExpanded[idx]">
            <ng-container *ngIf="container.containerNetworkType === 'dhcp'; else containerStatic">
              {{ container.containerNetwork }}, {{ container.containerNetworkType }}
            </ng-container>
            <ng-template #containerStatic>
              {{ container.containerNetwork }}, {{ container.containerNetworkIpRange }}
            </ng-template>
          </clr-stack-content>
          <clr-stack-block>
            <clr-stack-label>{{ i18n.translate('vch.storage.network.portgroupName') }}</clr-stack-label>
            <clr-stack-content>{{ container.containerNetwork }}</clr-stack-content>
          </clr-stack-block>
          <clr-stack-block *ngIf="container.containerNetworkType === 'dhcp'; else containerIpRange">
            <clr-stack-label>DHCP</clr-stack-label>
            <clr-stack-content></clr-stack-content>
          </clr-stack-block>
          <ng-template #containerIpRange>
            <clr-stack-block>
              <clr-stack-label>{{ i18n.translate('vch.storage.network.ipRange') }}</clr-stack-label>
              <clr-stack-content>{{ container.containerNetworkIpRange }}</clr-stack-content>
            </clr-stack-block>
            <clr-stack-block>
              <clr-stack-label>{{ i18n.translate('vch.storage.network.gateway') }}</clr-stack-label>
              <clr-stack-content>{{ container.containerNetworkGateway }}</clr-stack-content>
            </clr-stack-block>
          </ng-template>
          <clr-stack-block>
            <clr-stack-label>DNS</clr-stack-label>
            <clr-stack-content>{{ container.containerNetworkDns }}</clr-stack-content>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>{{ i18n.translate('vch.storage.network.label') }}</clr-stack-label>
            <clr-stack-content>{{ container.containerNetworkLabel }}</clr-stack-content>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>{{ i18n.translate('vch.storage.network.firewallPolicy') }}</clr-stack-label>
            <clr-stack-content>{{ container.containerNetworkFirewall }}</clr-stack-content>
          </clr-stack-block>
        </clr-stack-block>
      </ng-container>

    </clr-stack-view>
  </ng-container>
</div>

<!-- Form content -->
<ng-template #formContent>
  <div class="spinner" *ngIf="portgroupsLoading"></div>
  <div *ngIf="!portgroupsLoading">
    <p class="mt-0"> {{ i18n.translate('vch.storage.network.specifyNetworksVCH') }}</p>
    <a class="btn btn-link pl-0"
       href="https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/vch_networking.html"
       target="_blank">{{ i18n.translate('vch.storage.network.viewNetworksRequirements') }}<clr-icon shape="pop-out"></clr-icon>
    </a>

    <form class="pt-0" [formGroup]="form" novalidate>
      <section class="form-block my-0"  id='networks'>

        <!-- Required VCH Networks -->
        <label>{{ i18n.translate('vch.storage.network.requiredVchNetworks') }}</label>

        <!-- Bridge Network -->
        <div class="row form-group mb-0">
          <div class="col-xs-3">
            <label class="required" for="bridge-network-selector">{{ i18n.translate('vch.storage.network.bridgeNetwork') }}</label>
          </div>
          <div class="col-xs">
            <div class="select form-control">
              <select id="bridge-network-selector" formControlName="bridgeNetwork">
                <option value="">{{ i18n.translate('vch.storage.network.notConfigured') }}</option>
                <option [value]="portgroup['text']" *ngFor="let portgroup of portgroups">{{ portgroup.text }}</option>
              </select>
            </div>
          </div>
          <div class="col-xs text-right">
            <label for="bridge-network-range-selector">{{ i18n.translate('vch.storage.network.bridgeNetworkRange') }}</label>
          </div>
          <div class="col-xs">
            <label for="bridge-network-range-selector"
                   aria-haspopup="true"
                   role="tooltip"
                   class="tooltip tooltip-validation tooltip-lg tooltip-top-left"
                   [class.invalid]="isFormControlInvalid(form.get('bridgeNetworkRange'))">
              <input id="bridge-network-range-selector"
                     class="form-control"
                     type="text"
                     formControlName="bridgeNetworkRange">
              <span class="tooltip-content" *ngIf="form.get('bridgeNetworkRange').hasError('required')">
                {{ i18n.translate('vch.storage.network.bridgeNetworkRangeNotEmpty') }}
              </span>
            </label>
          </div>
          <div class="col-xs-1 px-0">
            <clr-signpost>
              <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen class="bridge-network-signpost">
                {{ i18n.translate('vch.storage.network.bridgeNetworksAre') }}
              </clr-signpost-content>
            </clr-signpost>
          </div>
        </div>

        <!-- Public Network -->
        <div class="row form-group mb-0">
          <div class="col-xs-3">
            <label class="required" for="public-network-selector">{{ i18n.translate('vch.storage.network.publicNetwork') }}</label>
          </div>
          <div class="col-xs">
            <div class="select form-control">
              <select id="public-network-selector" formControlName="publicNetwork">
                <option value="">{{ i18n.translate('vch.storage.network.notConfigured') }}</option>
                <option [value]="portgroup['text']" *ngFor="let portgroup of portgroups">{{ portgroup.text }}</option>
              </select>
            </div>
          </div>
          <div class="col-xs text-right">
            <div class="radio-inline">
              <input id="pub-dhcp" type="radio" value="dhcp" formControlName="publicNetworkType">
              <label for="pub-dhcp">DHCP</label>
            </div>
            <div class="radio-inline">
              <input id="pub-static" type="radio" value="static" formControlName="publicNetworkType">
              <label for="pub-static">{{ i18n.translate('vch.storage.network.static') }}</label>
            </div>
          </div>
          <div class="col-xs">
            <label for="public-network-ip"
                   aria-haspopup="true"
                   role="tooltip"
                   class="tooltip tooltip-validation tooltip-md tooltip-top-left"
                   [class.invalid]="isFormControlInvalid(form.get('publicNetworkIp'))">
              <input id="public-network-ip"
                     class="form-control"
                     type="text"
                     placeholder="CIDR"
                     formControlName="publicNetworkIp">
              <span class="tooltip-content" *ngIf="form.get('publicNetworkIp').hasError('required')">
                {{ i18n.translate('vch.storage.network.publicNetCDIRNotEmpty') }}
              </span>
              <span class="tooltip-content" *ngIf="form.get('publicNetworkIp').hasError('pattern')">
                {{ i18n.translate('vch.storage.network.cdirNotValid') }}
              </span>
            </label>
          </div>
          <div class="col-xs-1"></div>
        </div>

        <!-- Public Network Gateway -->
        <div class="row form-group mb-0">
          <div class="col-xs offset-xs-3"></div>
          <div class="col-xs text-right">
            <label for="public-network-gateway">{{ i18n.translate('vch.storage.network.gateway') }}</label>
          </div>
          <div class="col-xs">
            <label for="public-network-gateway"
                   aria-haspopup="true"
                   role="tooltip"
                   class="tooltip tooltip-validation tooltip-md tooltip-top-left"
                   [class.invalid]="isFormControlInvalid(form.get('publicNetworkGateway'))">
              <input class="form-control"
                     id="public-network-gateway"
                     type="text"
                     formControlName="publicNetworkGateway"
                     placeholder="IP address">
              <span class="tooltip-content" *ngIf="form.get('publicNetworkGateway').hasError('required')">
                {{ i18n.translate('vch.storage.network.publicNetworkGatewayNotEmpty') }}
              </span>
              <span class="tooltip-content" *ngIf="form.get('publicNetworkGateway').hasError('pattern')">
                {{ i18n.translate('vch.storage.network.gatewayNotValid') }}
              </span>
            </label>
          </div>
          <div class="col-xs-1"></div>
        </div>

        <!-- Public Network DNS -->
        <div class="row form-group mb-0">
          <div class="col-xs-3">
            <label for="dns-server-selector">{{ i18n.translate('vch.storage.network.dnsServer') }}</label>
          </div>
          <div class="col-xs-5">
            <label for="dns-server-selector"
                   aria-haspopup="true"
                   role="tooltip"
                   class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
                   [class.invalid]="isFormControlInvalid(form.get('dnsServer'))">
              <input id="dns-server-selector"
                     class="form-control"
                     placeholder="Comma separated IP addresses"
                     type="text"
                     formControlName="dnsServer">

              <span class="tooltip-content" *ngIf="form.get('dnsServer').hasError('required')">
                {{ i18n.translate('vch.storage.network.dnsIpNotEmpty') }}
              </span>
              <span class="tooltip-content" *ngIf="form.get('dnsServer').hasError('pattern')">
                {{ i18n.translate('vch.storage.network.ipAddressNotValid') }}
              </span>
            </label>
          </div>
        </div>
      </section>

      <!-- Advanced Options -->
      <p>{{ i18n.translate('vch.storage.network.youCanUseadvance') }}</p>
      <a class="btn btn-link pl-0" (click)="toggleAdvancedMode()">
        {{ inAdvancedMode ? i18n.translate('vch.storage.network.basic') : i18n.translate('vch.storage.network.advanced') }}
        <clr-icon [attr.shape]="inAdvancedMode ? 'caret up' : 'caret down'"></clr-icon>
      </a>
      <section class="form-block" *ngIf="inAdvancedMode">
        <div class="alert alert-info mb-2">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <div class="alert-text">
            {{ i18n.translate('vch.storage.network.theFollowingAdvanceOptions') }}
          </div>
        </div>

        <!-- Optional Networks -->
        <label>{{ i18n.translate('vch.storage.network.optionalVchNetworks') }}</label>

        <!-- Client Network -->
        <div class="row form-group mb-0">
          <div class="col-xs-3">
            <label for="client-network-selector">{{ i18n.translate('vch.storage.network.clientNetwork') }}</label>
          </div>
          <div class="col-xs-3">
            <div class="select form-control">
              <select id="client-network-selector" formControlName="clientNetwork">
                <option value="">{{ i18n.translate('vch.storage.network.notConfigured') }}</option>
                <option [value]="portgroup['text']" *ngFor="let portgroup of portgroups">
                  {{ portgroup.text }}
                </option>
              </select>
            </div>
          </div>
          <span *ngIf="!form.get('clientNetwork').value">
            <small class="text-muted">
              {{ i18n.translate('vch.storage.network.defaultsPublicNetwork') }}
            </small>
          </span>
          <div class="col-xs text-right" *ngIf="form.get('clientNetwork').value">
            <div class="radio-inline">
              <input id="client-dhcp" type="radio" value="dhcp" formControlName="clientNetworkType">
              <label for="client-dhcp">DHCP</label>
            </div>
            <div class="radio-inline">
              <input id="client-static" type="radio" value="static" formControlName="clientNetworkType">
              <label for="client-static">{{ i18n.translate('vch.storage.network.static') }}</label>
            </div>
          </div>
          <div class="col-xs" *ngIf="form.get('clientNetwork').value">
            <label for="client-network-ip"
                   aria-haspopup="true"
                   role="tooltip"
                   class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
                   [class.invalid]="isFormControlInvalid(form.get('clientNetworkIp'))">
              <input class="form-control"
                     id="client-network-ip"
                     type="text"
                     placeholder="CIDR"
                     formControlName="clientNetworkIp">

              <span class="tooltip-content" *ngIf="form.get('clientNetworkIp').hasError('required')">
                {{ i18n.translate('vch.storage.network.clientCdirNotEmpty') }}
              </span>
              <span class="tooltip-content" *ngIf="form.get('clientNetworkIp').hasError('pattern')">
                {{ i18n.translate('vch.storage.network.cdirNotValid') }}
              </span>
            </label>
          </div>
          <div class="col-xs-1"></div>
        </div>

        <!-- Client Network Gateway -->
        <div class="row form-group mb-0" *ngIf="form.get('clientNetwork').value">
          <div class="col-xs offset-xs-6 text-right">
            <label for="client-network-gateway">{{ i18n.translate('vch.storage.network.gateway') }}</label>
          </div>
          <div class="col-xs">
            <label for="client-network-gateway"
                   aria-haspopup="true"
                   role="tooltip"
                   class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
                   [class.invalid]="isFormControlInvalid(form.get('clientNetworkGateway'))">
              <input class="form-control"
                     id="client-network-gateway"
                     type="text"
                     placeholder="IP address"
                     formControlName="clientNetworkGateway">
              <span class="tooltip-content" *ngIf="form.get('clientNetworkGateway').hasError('required')">
                {{ i18n.translate('vch.storage.network.clientNetworkGatewayNotEmpty') }}
              </span>
              <span class="tooltip-content" *ngIf="form.get('clientNetworkGateway').hasError('pattern')">
                {{ i18n.translate('vch.storage.network.gatewayNotValid') }}
              </span>
            </label>
          </div>
          <div class="col-xs-1"></div>
        </div>

        <!-- Client Network Routing Destinations -->
        <div class="row form-group" *ngIf="form.get('clientNetwork').value">
          <div class="col-xs-3 text-right">
            <label for="client-network-routing">{{ i18n.translate('vch.storage.network.routingDestination') }}</label>
          </div>
          <div class="col-xs">
            <label for="client-network-routing"
                   aria-haspopup="true"
                   role="tooltip"
                   class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
                   [class.invalid]="isFormControlInvalid(form.get('clientNetworkRouting'))">
              <input class="form-control"
                     id="client-network-routing"
                     type="text"
                     placeholder="Comma delimited CIDRs"
                     formControlName="clientNetworkRouting">
              <span class="tooltip-content" *ngIf="form.get('clientNetworkRouting').hasError('pattern')">
                {{ i18n.translate('vch.storage.network.ipAddressNotValid') }}
              </span>
            </label>
          </div>
          <div class="col-xs-1"></div>
        </div>

        <!-- Management Network -->
        <div class="row form-group mb-0">
          <div class="col-xs-3">
            <label for="management-network-selector">{{ i18n.translate('vch.storage.network.managementNetwork') }}</label>
          </div>
          <div class="col-xs-3">
            <div class="select form-control">
              <select id="management-network-selector" formControlName="managementNetwork">
                <option value="">{{ i18n.translate('vch.storage.network.notConfigured') }}</option>
                <option [value]="portgroup['text']" *ngFor="let portgroup of portgroups">
                  {{ portgroup.text }}
                </option>
              </select>
            </div>
          </div>
          <span *ngIf="!form.get('managementNetwork').value">
            <small class="text-muted">
              {{ i18n.translate('vch.storage.network.defaultsPublicNetwork') }}
            </small>
          </span>
          <div class="col-xs text-right" *ngIf="form.get('managementNetwork').value">
            <div class="radio-inline">
              <input id="mgmt-dhcp" type="radio" value="dhcp" formControlName="managementNetworkType">
              <label for="mgmt-dhcp">DHCP</label>
            </div>
            <div class="radio-inline">
              <input id="mgmt-static" type="radio" value="static" formControlName="managementNetworkType">
              <label for="mgmt-static">{{ i18n.translate('vch.storage.network.static') }}</label>
            </div>
          </div>
          <div class="col-xs" *ngIf="form.get('managementNetwork').value">
            <label for="management-network-ip"
                   aria-haspopup="true"
                   role="tooltip"
                   class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
                   [class.invalid]="isFormControlInvalid(form.get('managementNetworkIp'))">
              <input class="form-control"
                     id="management-network-ip"
                     type="text"
                     placeholder="CIDR"
                     formControlName="managementNetworkIp">
              <span class="tooltip-content" *ngIf="form.get('managementNetworkIp').hasError('required')">
                {{ i18n.translate('vch.storage.network.managementNetworkCdirNotEmpty') }}
              </span>
              <span class="tooltip-content" *ngIf="form.get('managementNetworkIp').hasError('pattern')">
                {{ i18n.translate('vch.storage.network.cdirNotValid') }}
              </span>
            </label>
          </div>
          <div class="col-xs-1"></div>
        </div>

        <!-- Management Network Gateway -->
        <div class="row form-group mb-0" *ngIf="form.get('managementNetwork').value">
          <div class="col-xs offset-xs-6 text-right">
            <label for="management-network-gateway">{{ i18n.translate('vch.storage.network.gateway') }}</label>
          </div>
          <div class="col-xs">
            <label for="management-network-gateway"
                   aria-haspopup="true"
                   role="tooltip"
                   class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
                   [class.invalid]="isFormControlInvalid(form.get('managementNetworkGateway'))">
              <input class="form-control"
                     id="management-network-gateway"
                     type="text"
                     placeholder="IP address"
                     formControlName="managementNetworkGateway">
              <span class="tooltip-content" *ngIf="form.get('managementNetworkGateway').hasError('required')">
                {{ i18n.translate('vch.storage.network.managementNetworkGatewayNotEmpty') }}
              </span>
              <span class="tooltip-content" *ngIf="form.get('managementNetworkGateway').hasError('pattern')">
                {{ i18n.translate('vch.storage.network.gatewayNotValid') }}
              </span>
            </label>
          </div>
          <div class="col-xs-1"></div>
        </div>

        <!-- Management Network Routing Destinations -->
        <div class="row form-group" *ngIf="form.get('managementNetwork').value">
          <div class="col-xs-3 text-right">
            <label for="management-network-routing">{{ i18n.translate('vch.storage.network.routingDestination') }}</label>
          </div>
          <div class="col-xs">
            <label for="management-network-routing"
                   aria-haspopup="true"
                   role="tooltip"
                   class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
                   [class.invalid]="isFormControlInvalid(form.get('managementNetworkRouting'))">
              <input class="form-control"
                     id="management-network-routing"
                     type="text"
                     placeholder="Comma delimited CIDRs"
                     formControlName="managementNetworkRouting">
              <span class="tooltip-content" *ngIf="form.get('managementNetworkRouting').hasError('pattern')">
                {{ i18n.translate('vch.storage.network.ipAddressNotValid') }}
              </span>
            </label>
          </div>
          <div class="col-xs-1"></div>
        </div>

        <!-- HTTP Proxy -->
        <div class="form-group row mb-0">
          <div class="col-xs-3">
            <label for="http-proxy-selector">{{ i18n.translate('vch.storage.network.httpProxy') }}</label>
          </div>
          <div class="col-xs-3">
            <input id="http-proxy-selector"
                   class="form-control"
                   formControlName="httpProxy"
                   placeholder="IP or FQDN"
                   type="text">
          </div>
          <span class="mx-0 px-0">:</span>
          <div class="col-xs-1">
            <label for="http-proxy-port-selector"
                   aria-haspopup="true"
                   role="tooltip"
                   class="tooltip tooltip-validation tooltip-md tooltip-top-left"
                   [class.invalid]="isFormControlInvalid(form.get('httpProxyPort'))">
              <input id="http-proxy-port-selector"
                     formControlName="httpProxyPort"
                     placeholder="Port"
                     type="text">
              <span class="tooltip-content" *ngIf="form.get('httpProxyPort').hasError('maxlength')">
                {{ i18n.translate('vch.storage.network.portDigits') }}
              </span>
              <span class="tooltip-content" *ngIf="form.get('httpProxyPort').hasError('pattern')">
                {{ i18n.translate('vch.storage.network.portNumeric') }}
              </span>
            </label>
          </div>
          <!-- To set previous columns widths, we need to set space for 2 dynamic width columns -->
          <div class="col-xs"></div>
          <div class="col-xs"></div>
        </div>

        <!-- HTTPS Proxy -->
        <div class="form-group row">
          <div class="col-xs-3">
            <label for="https-proxy-selector">{{ i18n.translate('vch.storage.network.httpsProxy') }}</label>
          </div>
          <div class="col-xs-3">
            <input id="https-proxy-selector"
                   class="form-control"
                   placeholder="IP or FQDN"
                   type="text"
                   formControlName="httpsProxy">
            <small class="text-muted text-nowrap">
              {{ i18n.translate('vch.storage.network.note') }}
            </small>
          </div>
          <span class="mx-0 px-0">:</span>
          <div class="col-xs-1">
            <label for="https-proxy-port-selector"
                   aria-haspopup="true"
                   role="tooltip"
                   class="tooltip tooltip-validation tooltip-md tooltip-top-left"
                   [class.invalid]="isFormControlInvalid(form.get('httpsProxyPort'))">
              <input id="https-proxy-port-selector"
                     placeholder="Port"
                     type="text"
                     formControlName="httpsProxyPort">
              <span class="tooltip-content" *ngIf="form.get('httpsProxyPort').hasError('maxlength')">
                {{ i18n.translate('vch.storage.network.portDigits') }}
              </span>
              <span class="tooltip-content" *ngIf="form.get('httpsProxyPort').hasError('pattern')">
                {{ i18n.translate('vch.storage.network.portNumeric') }}
              </span>
            </label>
          </div>
          <!-- To set previous columns widths, we need to set space for 2 dynamic width columns -->
          <div class="col-xs"></div>
          <div class="col-xs"></div>
        </div>
      </section>

      <!-- Optional Container Networks -->
      <section class="form-block" *ngIf="inAdvancedMode">
        <label>{{ i18n.translate('vch.storage.network.optionalContainerNetworks') }}</label>
        <div class="mb-2"
             formArrayName="containerNetworks"
             *ngFor="let containerNetwork of form.get('containerNetworks').controls; let i=index">
          <div class="form-group row mb-0" [formGroupName]="i">

            <!-- Optional Container Networks -->
            <div class="col-xs">
              <label for="container-network-selector">{{ i18n.translate('vch.storage.network.containerNetwork') }}</label>
            </div>
            <div class="col-xs">
              <div class="select form-control">
                <select id="container-network-selector" formControlName="containerNetwork">
                  <option value="">{{ i18n.translate('vch.storage.network.notConfigured') }}</option>
                  <option [value]="portgroup['text']" *ngFor="let portgroup of portgroups">{{ portgroup.text }}</option>
                </select>
              </div>
            </div>
            <div class="col-xs text-right">
              <div class="radio-inline">
                <input type="radio"
                       value="dhcp"
                       formControlName="containerNetworkType"
                       [id]="'cont-dhcp-' + i">
                <label [for]="'cont-dhcp-' + i">DHCP</label>
              </div>
              <div class="radio-inline">
                <input type="radio"
                       value="static"
                       formControlName="containerNetworkType"
                       [id]="'cont-static-' + i">
                <label [for]="'cont-static-' + i">{{ i18n.translate('vch.storage.network.ipRange') }}</label>
              </div>
            </div>
            <div class="col-xs">
              <label for="container-network-ip-range"
                     aria-haspopup="true"
                     role="tooltip"
                     class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
                     [class.invalid]="isFormControlInvalid(form.get('containerNetworks').controls[i].controls.containerNetworkIpRange)">
                <input class="form-control"
                       id="container-network-ip-range"
                       type="text"
                       placeholder="IP range or CIDR"
                       formControlName="containerNetworkIpRange">
                <span class="tooltip-content" *ngIf="form.get('containerNetworks').controls[i].controls.containerNetworkIpRange.hasError('required')">
                  {{ i18n.translate('vch.storage.network.containerNetworkIpRangeNotEmpty') }}
                </span>
              </label>
            </div>
            <div class="col-xs-1 px-0 container-network-actions">
              <clr-icon class="is-solid"
                        shape="times-circle"
                        (click)="removeContainerNetworkEntry(i)"
                        *ngIf="i > 0">
              </clr-icon>
              <clr-icon class="is-solid"
                        shape="plus-circle"
                        (click)="addNewContainerNetworkEntry()"
                        *ngIf="i === form.controls.containerNetworks.controls.length - 1">
              </clr-icon>
            </div>
          </div>
          <div class="form-group row mb-0" [formGroupName]="i">
            <div class="col-xs">
              <label for="container-network-dns">
                DNS
              </label>
            </div>
            <div class="col-xs">
              <label for="container-network-dns"
                     aria-haspopup="true"
                     role="tooltip"
                     class="tooltip tooltip-validation tooltip-md tooltip-top-right"
                     [class.invalid]="isFormControlInvalid(form.get('containerNetworks').controls[i].controls.containerNetworkDns)">
                <input class="form-control"
                       id="container-network-dns"
                       type="text"
                       placeholder="IP address"
                       formControlName="containerNetworkDns">
                <span class="tooltip-content" *ngIf="form.get('containerNetworks').controls[i].controls.containerNetworkDns.hasError('required')">
                  {{ i18n.translate('vch.storage.network.containerNetworkDnsNotEmpty') }}
                </span>
                <span class="tooltip-content" *ngIf="form.get('containerNetworks').controls[i].controls.containerNetworkDns.hasError('pattern')">
                  {{ i18n.translate('vch.storage.network.dnsAddresNotValid') }}
                </span>
              </label>
            </div>
            <div class="col-xs text-right">
              <label for="container-network-gateway">{{ i18n.translate('vch.storage.network.gateway') }}</label>
            </div>
            <div class="col-xs">
              <label for="container-network-gateway"
                     aria-haspopup="true"
                     role="tooltip"
                     class="tooltip tooltip-validation tooltip-md tooltip-top-left"
                     [class.invalid]="isFormControlInvalid(form.get('containerNetworks').controls[i].controls.containerNetworkGateway)">
                <input class="form-control"
                       id="container-network-gateway"
                       type="text"
                       placeholder="IP address"
                       formControlName="containerNetworkGateway">
                <span class="tooltip-content" *ngIf="form.get('containerNetworks').controls[i].controls.containerNetworkGateway.hasError('required')">
                  {{ i18n.translate('vch.storage.network.containerGatewayNotEmpty') }}
                </span>
                <span class="tooltip-content" *ngIf="form.get('containerNetworks').controls[i].controls.containerNetworkGateway.hasError('pattern')">
                  {{ i18n.translate('vch.storage.network.gatewayNotValid') }}
                </span>
              </label>
            </div>
            <div class="col-xs-1"></div>
          </div>
          <div class="form-group row mb-0" [formGroupName]="i">
            <div class="col-xs">
              <label for="container-network-label">{{ i18n.translate('vch.storage.network.label') }}</label>
            </div>
            <div class="col-xs">
              <label for="container-network-label"
                     aria-haspopup="true"
                     role="tooltip"
                     class="form-control tooltip tooltip-validation tooltip-md tooltip-top-right"
                     [class.invalid]="isFormControlInvalid(form.get('containerNetworks').controls[i].controls.containerNetworkLabel)">
                <input class="form-control"
                       id="container-network-label"
                       type="text"
                       placeholder="Network label"
                       formControlName="containerNetworkLabel">
                <span class="tooltip-content" *ngIf="form.get('containerNetworks').controls[i].controls.containerNetworkLabel.hasError('required')">
                  {{ i18n.translate('vch.storage.network.containerNetworkLabelNotEmpty') }}
                </span>
                <span class="tooltip-content" *ngIf="form.get('containerNetworks').controls[i].controls.containerNetworkLabel.hasError('pattern')">
                  {{ i18n.translate('vch.storage.network.containerNetworkLabelChars') }}
                </span>
              </label>
            </div>
            <!-- To set previous columns widths, we need to set space for 2 dynamic width column and 1 fixed width column -->
            <div class="col-xs"></div>
            <div class="col-xs offset-xs-1"></div>
          </div>
          <div class="form-group row mb-0" [formGroupName]="i">
            <div class="col-xs">
              <label for="container-network-firewall">{{ i18n.translate('vch.storage.network.firewallPolicy') }}</label>
            </div>
            <div class="col-xs">
              <div class="select form-control">
                <select id="container-network-firewall" formControlName="containerNetworkFirewall">
                  <option value="closed">{{ i18n.translate('vch.storage.network.closed') }}</option>
                  <option value="outbound">{{ i18n.translate('vch.storage.network.outbound') }}</option>
                  <option value="peers">{{ i18n.translate('vch.storage.network.peers') }}</option>
                  <option value="published">{{ i18n.translate('vch.storage.network.published') }}</option>
                  <option value="open">{{ i18n.translate('vch.storage.network.open') }}</option>
                </select>
              </div>
            </div>
            <!-- To set previous columns widths, we need to set space for 2 dynamic width column and 1 fixed width column -->
            <div class="col-xs"></div>
            <div class="col-xs offset-xs-1"></div>
          </div>
        </div>
      </section>

    </form>
  </div>
</ng-template>

<!-- Internal content loading -->
<ng-template #loadingContent>
        <span class="spinner spinner-md">
          Loading...
        </span>
</ng-template>
