.clr-wizard {
  .spinner {
    left: calc(50% - 40px);
    top: 25%;
  }
}

.separator {
  content: "";
  border-left: 1px solid #ccc;
  margin: 0 18px;
  height: 1em;
}

.subtitle {
  font-size: 0.7em;
}
