.container-network-actions clr-icon {
  margin-top: 9px;
  cursor: pointer;
}

#http-proxy-port-selector,
#https-proxy-port-selector {
  width: 6em;
}

:host ::ng-deep clr-signpost {
  .signpost-action {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.bridge-network-signpost {
  min-width: 600px;
  max-width: 600px;
}
