.container-network-actions clr-icon {
  margin-top: 9px;
  cursor: pointer;
}

#http-proxy-port-selector,
#https-proxy-port-selector {
  width: 6em;
}

:host ::ng-deep clr-signpost {
  .signpost-action {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.bridge-network-signpost {
  width: 480px;
}

.routing-conf {
  display: flex;
}

.absolute-info {
  position: absolute;
  right: 12px;
}

.relative-po {
  position: relative !important;
}

.text-muted {
  color: #818a91!important;
}

.text-nowrap {
  white-space: nowrap!important;
}

b {
  color: #c92100;
}

.form .form-block>label, form .form-block>label {
  font-size: .666667rem;
  letter-spacing: .01em;
  font-weight: 400;
  color: #000;
  margin-bottom: 0.25rem;
}