<div class="spinner" *ngIf="datastoresLoading"></div>

<form class="pt-0" [formGroup]="form" novalidate *ngIf="!datastoresLoading">
  <section class="form-block my-0">

    <label>
      Image Datastore
    </label>

    <p class="mt-0 mb-2">
      Select the image datastore to be used to hold container images and an optional folder.
    </p>

    <div class="form-group row mb-0">
      <div class="col-xs-2">

        <label class="required" for="image-store-selector">
          Datastore
        </label>

      </div>
      <div class="col-xs-4">

        <div class="select form-control">
          <select id="image-store-selector" formControlName="imageStore">
            <option value="">Not selected</option>
            <option [value]="datastore.name" *ngFor="let datastore of datastores">
              {{ datastore.name }} ({{ datastore?.info?.freeSpace }} free)
            </option>
          </select>
        </div>

      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-2">

        <label for="file-folder-selector">
          File folder
        </label>

      </div>
      <div class="col-xs-4">

        <input id="file-folder-selector"
               class="form-control"
               type="text"
               placeholder="Existing or new folder name"
               formControlName="fileFolder">

      </div>
    </div>

  </section>

  <a class="btn btn-link pl-0" (click)="toggleAdvancedMode()">
    {{ inAdvancedMode ? 'Basic' : 'Advanced' }}
    <clr-icon [attr.shape]="inAdvancedMode ? 'caret up' : 'caret down'"></clr-icon>
  </a>

  <section class="form-block mt-0" *ngIf="inAdvancedMode">

    <div class="alert alert-sm alert-info mt-0 mb-2">
      <div class="alert-item">
          <span class="alert-text">
            The following options will be used for VCH creation only when the advanced mode is open.
          </span>
      </div>
    </div>

    <label>
      Additional Datastores
    </label>

    <p class="mt-0 mb-3">
      Optionally map Docker volumes to selected datastores and define the volume label that Docker users will see.
      Optionally provide a folder to be used in that datastore.
    </p>

    <div class="mb-1" formArrayName="volumeStores">

      <div class="form-group row mb-0"
           [formGroupName]="i"
           *ngFor="let volumeStore of form.controls.volumeStores.controls; let i=index">
        <div class="col-xs">

          <label *ngIf="i === 0">
            Volume datastore
          </label>

        </div>
        <div class="col-xs-3">

          <small class="vol-datastore-header" *ngIf="i === 0">Datastore</small>
          <div class="select form-control">
            <select formControlName="volDatastore">
              <option value="">Not selected</option>
              <option [value]="datastore.name" *ngFor="let datastore of datastores">
                {{ datastore.name }} ({{ datastore?.info?.freeSpace }} free)
              </option>
            </select>
          </div>

        </div>
        <div class="col-xs-3">

          <small class="vol-datastore-header" *ngIf="i === 0">Folder</small>
          <input class="form-control"
                 type="text"
                 placeholder="Optional folder name"
                 formControlName="volFileFolder">

        </div>
        <div class="col-xs">

          <small class="vol-datastore-header" *ngIf="i === 0">Docker volume name</small>
          <label class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
                 for="docker-volname-selector"
                 aria-haspopup="true"
                 role="tooltip"
                 [class.invalid]="form.get('volumeStores').controls[i].invalid && (form.get('volumeStores').controls[i].dirty || form.get('volumeStores').controls[i].touched)">

            <input id="docker-volname-selector"
                   class="form-control"
                   type="text"
                   placeholder="Volume name"
                   formControlName="dockerVolName">

            <span class="tooltip-content" *ngIf="form.get('volumeStores').controls[i].controls['dockerVolName'].hasError('required')">
              Docker volume name cannot be empty
            </span>

            <span class="tooltip-content" *ngIf="form.get('volumeStores').controls[i].controls['dockerVolName'].hasError('pattern')">
              Docker volume name contains characters that are not allowed
            </span>

          </label>

        </div>
        <div class="col-xs-1 px-0 vol-datastore-actions">

          <clr-icon class="is-solid"
                    shape="times-circle"
                    (click)="removeVolumeDatastoreEntry(i)"
                    *ngIf="i > 0">
          </clr-icon>
          <clr-icon class="is-solid"
                    shape="plus-circle"
                    (click)="addNewVolumeDatastoreEntry()"
                    *ngIf="i === form.controls.volumeStores.controls.length - 1">
          </clr-icon>

        </div>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-xs">

        <label>
          Base image size
        </label>

      </div>
      <div class="col-xs-3">

        <label for="base-image-size"
               aria-haspopup="true"
               role="tooltip"
               class="form-control tooltip tooltip-validation tooltip-md tooltip-top-right"
               [class.invalid]="form.get('baseImageSize').invalid && (form.get('baseImageSize').dirty || form.get('baseImageSize').touched)">

          <input type="text"
                 id="base-image-size"
                 formControlName="baseImageSize"
                 class="form-control">

          <span class="tooltip-content" *ngIf="form.get('baseImageSize').hasError('required')">
            Base image size cannot be empty
          </span>

          <span class="tooltip-content" *ngIf="form.get('baseImageSize').hasError('pattern')">
            Base image size should be numeric
          </span>

        </label>

      </div>
      <div class="col-xs-2">

        <div class="select form-control">
          <select formControlName="baseImageSizeUnit">
            <option value="MB">MB</option>
            <option selected value="GB">GB</option>
          </select>
        </div>

      </div>
      <!-- To set previous columns widths, we need to set space for 1 dynamic width column and 2 fixed width columns -->
      <div class="col-xs offset-xs-2"></div>
    </div>

  </section>
</form>
