.vol-datastore {
  &-header {
    position: absolute;
    top: -20px;
    font-weight: bold;
  }

  &-actions clr-icon {
    margin-top: 9px;
    cursor: pointer;
  }
}

.image-size-label {
  margin-top: 10px;
  line-height: 16px;
}
