<div class="spinner" *ngIf="datastoresLoading"></div>

<form class="clr-form clr-form-compact" [formGroup]="form" novalidate *ngIf="!datastoresLoading">
  <section class="form-block my-0"  id='storage-capacity'>

    <label>
      Image Datastore
    </label>

    <p class="mt-0 mb-2">
      Select the image datastore to be used to hold container images and an optional folder.
    </p>

    <div class="clr-form-control clr-row">

        <label class="required" for="image-store-selector" class="clr-control-label  clr-col-12 clr-col-md-3">
          Datastore
          <b>*</b>
        </label>

      <div class="clr-control-container clr-col-12 clr-col-md-4">

        <div class="clr-select-wrapper">
          <select id="image-store-selector" class="clr-select" formControlName="imageStore">
            <option value="">Not selected</option>
            <option [value]="datastore.name" *ngFor="let datastore of datastores; trackBy: datastoreTrackByFn">
              {{ datastore.name }} ({{ datastore?.info?.freeSpace }} free)
            </option>
          </select>
        </div>

      </div>
    </div>

    <div class="clr-form-control clr-row">

        <label for="file-folder-selector" class="clr-control-label clr-col-12 clr-col-md-3">
          File folder
        </label>

      <div class="clr-control-container clr-col-12 clr-col-md-4">

        <input id="file-folder-selector"
               class="clr-input"
               type="text"
               placeholder="Existing or new folder name"
               formControlName="fileFolder">

      </div>
    </div>

    <div class="clr-form-control clr-row">

        <label class="image-size-label clr-control-label clr-col-12 clr-col-md-3">
          Max Container VM<br>
          image size
        </label>

      <div class="clr-control-container clr-col-12 clr-col-md-2">

        <label for="base-image-size"
               aria-haspopup="true"
               role="tooltip"
               class="form-control tooltip tooltip-validation tooltip-md tooltip-top-right"
               [class.invalid]="form.get('baseImageSize').invalid && (form.get('baseImageSize').dirty || form.get('baseImageSize').touched)">

               <div class="clr-input-wrapper">
                  <input type="text"
                  id="base-image-size"
                  formControlName="baseImageSize"
                  class="clr-input">
               </div>

          <span class="tooltip-content" *ngIf="form.get('baseImageSize').hasError('required')">
            Base image size cannot be empty
          </span>

          <span class="tooltip-content" *ngIf="form.get('baseImageSize').hasError('pattern')">
            Base image size should be numeric
          </span>

          <span class="clr-subtext">This limit cannot be changed after deploying the VCH</span>

        </label>

      </div>
      <div class="clr-control-container clr-col-12 clr-col-md-2">

        <div class="clr-select-wrapper">
          <select formControlName="baseImageSizeUnit" class="clr-select">
            <option value="MiB">MB</option>
            <option selected value="GiB">GB</option>
          </select>
        </div>

      </div>

      <clr-signpost>
        <clr-signpost-content [clrPosition]="'top-left'" *clrIfOpen>
          <span>
            The size of the base image from which to create other images. You do not normally need to change this value.
            The default size is 8GB, but images are thin-provisioned so they do not usually consume 8GB of space.
          </span>
        </clr-signpost-content>
      </clr-signpost>

    </div>

  </section>

  <section class="form-block">

    <label>
      Volume Datastores
    </label>

    <p class="mt-0">
      Make selected datastores available for docker volumes
    </p>

    <div class="mb-2 clr-form-control clr-row">
      <div class="clr-toggle-wrapper">
        <input type="checkbox" id="enable-anonymous-volumes" class="clr-toggle" formControlName="enableAnonymousVolumes">
        <label for="enable-anonymous-volumes">Enable anonymous volumes</label>
      </div>
    </div>

    <div class="mb-1" formArrayName="volumeStores">

      <div class="clr-form-control clr-row"
           [formGroupName]="i"
           *ngFor="let volumeStore of form.controls.volumeStores.controls; let i=index">
        <div class="clr-control-label clr-col-12 clr-col-md-3">

          <label [ngClass]="{'required': form.get('enableAnonymousVolumes').value && i === 0}">
            Volume datastore
            <b *ngIf="form.get('enableAnonymousVolumes').value && i === 0">*</b>
          </label>

        </div>
        <div class="clr-control-container clr-col-12 clr-col-md-3">

          <small class="vol-datastore-header" *ngIf="i === 0">Datastore</small>
          <div class="clr-select-wrapper">
            <select formControlName="volDatastore" class="clr-select">
              <option value="">Not selected</option>
              <option [value]="datastore.name" *ngFor="let datastore of datastores">
                {{ datastore.name }} ({{ datastore?.info?.freeSpace }} free)
              </option>
            </select>
          </div>

        </div>
        <div class="clr-control-container clr-col-12 clr-col-md-3">

          <small class="vol-datastore-header" *ngIf="i === 0">Folder</small>
          <input class="clr-input"
                 type="text"
                 placeholder="Optional folder name"
                 formControlName="volFileFolder">

        </div>
        <div class="clr-control-container clr-col-12 clr-col-md-2">

          <small class="vol-datastore-header" *ngIf="i === 0">Name</small>
          <label class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
                 for="docker-volname-selector"
                 aria-haspopup="true"
                 role="tooltip"
                 [class.invalid]="form.get('volumeStores').controls[i].invalid && (form.get('volumeStores').controls[i].dirty || form.get('volumeStores').controls[i].touched)"
                 *ngIf="(form.get('enableAnonymousVolumes').value && i > 0) || (!form.get('enableAnonymousVolumes').value)">

            <input id="docker-volname-selector"
                   class="clr-input"
                   type="text"
                   placeholder="Volume name"
                   formControlName="dockerVolName">

            <span class="tooltip-content" *ngIf="form.get('volumeStores').controls[i].controls['dockerVolName'].hasError('required')">
              Docker volume name cannot be empty
            </span>

            <span class="tooltip-content" *ngIf="form.get('volumeStores').controls[i].controls['dockerVolName'].hasError('pattern')">
              Docker volume name contains characters that are not allowed
            </span>

          </label>

          <span *ngIf="form.get('enableAnonymousVolumes').value && i === 0">Default</span>

        </div>
        <div class="clr-control-container clr-col-12 clr-col-md-1 px-0 vol-datastore-actions">

          <clr-icon class="is-solid"
                    shape="times-circle"
                    (click)="removeVolumeDatastoreEntry(i)"
                    *ngIf="(form.get('enableAnonymousVolumes').value && i > 1) || (!form.get('enableAnonymousVolumes').value && i > 0)">
          </clr-icon>
          <clr-icon class="is-solid"
                    shape="plus-circle"
                    (click)="addNewVolumeDatastoreEntry()"
                    *ngIf="i === form.controls.volumeStores.controls.length - 1">
          </clr-icon>

        </div>
      </div>
    </div>

  </section>
</form>
