.vol-datastore {
  &-header {
    position: relative;
    top: -20px;
    width: 0px;
    font-weight: bold;
  }

  &-actions clr-icon {
    margin-top: 9px;
    cursor: pointer;
  }
}

.image-size-label {
  margin-top: 10px;
  line-height: 16px;
}

.mb-1 {
  margin-bottom: 1rem!important;
}

.mb-2 {
  margin-bottom: 1.5rem!important;
}

b {
  color: #c92100;
}