<ng-container *ngIf="resourceObjRefObs | async as info; else loadingContent">
  <vic-configure-vch-modal-container [title]="i18n.translate('vch.security.secureAccessToVCH')"
                                     [helpLink]="helpLink"
                                     [modelChangedPayload]="currentModelEmitter.asObservable()"
                                     [vchId]="vchId">
    <vic-vch-security #configureContent
                      [model]="info.vchUIModel.security"
                      [datacenter]="info.resourceInfo.datacenterObj"
                      [vchName]="info.vchUIModel.general.name"
                      (modelChanged)="modelChange($event)">
    </vic-vch-security>
  </vic-configure-vch-modal-container>
</ng-container>
<ng-template #loadingContent>
  <div class="vic-configure-container-modal-spinner-container">
    <span class="spinner">
      Loading...
    </span>
  </div>
</ng-template>

