<p>
  Select a cluster or resource pool to run this virtual container host.
  <br>
  Advanced options are available to specify additional requirements.
</p>

<form [formGroup]="form" novalidate>
  <section class="form-block mb-0">

    <div class="form-group row">
      <div class="col-xs-4">

        <label class="required">
          Cluster or resource pool
        </label>

      </div>
      <div class="col-xs-6">

        <clr-tree-node id="compute-resource-selector"
                       class="form-control"
                       [class.invalid]="form.invalid && form.getError('invalidComputeResource')"
                       [clrTreeNodeExpandable]="true"
                       [clrTreeNodeExpanded]="true"
                       [clrTreeNodeLoading]="isTreeLoading"
                       (clrTreeNodeExpandedChange)="loadClusters()">
          <button class="clr-treenode-link">
            <clr-icon shape="building"></clr-icon>
            {{ datacenter.length ? datacenter[0]['text'] : '' }}
          </button>
          <clr-tree-node *ngFor="let cluster of clusters"
                         [clrTreeNodeExpandable]="true"
                         [clrTreeNodeLoading]="isTreeLoading"
                         (clrTreeNodeExpandedChange)="loadResources(cluster.objRef)">
            <button class="clr-treenode-link"
                    [class.active]="selectedObjectName === cluster['text']"
                    (click)="selectComputeResource(cluster)">
              <clr-icon shape="cluster"></clr-icon>
              {{ cluster['text'] }}
            </button>
            <clr-tree-node *ngFor="let resource of resources">
              <button class="clr-treenode-link"
                      [class.active]="selectedObjectName === resource['text']"
                      (click)="selectComputeResource(resource, cluster)">
                <clr-icon shape="host"></clr-icon>
                {{ resource['text'] }}
              </button>
            </clr-tree-node>
          </clr-tree-node>
        </clr-tree-node>

      </div>
    </div>

    <label>
      Virtual Container Host limits
    </label>

    <div class="form-group row">
      <div class="col-xs-4">

        <label for="cpu-limit-selector">
          CPU
        </label>

      </div>
      <div class="col-xs-3">

        <label for="cpu-limit-selector"
               aria-haspopup="true"
               role="tooltip"
               class="form-control tooltip tooltip-validation tooltip-lg tooltip-top-left"
               [class.invalid]="form.get('cpuLimit').invalid && (form.get('cpuLimit').dirty || form.get('cpuLimit').touched)">

          <input id="cpu-limit-selector"
                 class="form-control"
                 type="text"
                 formControlName="cpuLimit">

          <span class="tooltip-content" *ngIf="form.get('cpuLimit').hasError('required')">
            CPU limit cannot be empty
          </span>

          <span class="tooltip-content" *ngIf="form.get('cpuLimit').hasError('pattern')">
            CPU limit should either be 'Unlimited' or a number
          </span>

          <span class="tooltip-content" *ngIf="form.get('cpuLimit').hasError('min')">
            CPU limit should be bigger than 0
          </span>

          <span class="tooltip-content" *ngIf="form.get('cpuLimit').hasError('max')">
            CPU limit cannot be bigger than {{ resourceLimits['cpu']['maxUsage'] }} MHz
          </span>

          <small class="text-muted">
            Max: {{ resourceLimits.cpu.maxUsage || '-' }} MHz, Min: {{ resourceLimits.cpu.minUsage || '-' }} MHz
          </small>

        </label>

      </div>

      <span>MHz</span>

    </div>

    <div class="form-group row">
      <div class="col-xs-4">

        <label for="memory-limit-selector">
          Memory
        </label>

      </div>
      <div class="col-xs-3">

        <label for="memory-limit-selector"
               aria-haspopup="true"
               role="tooltip"
               class="form-control tooltip tooltip-validation tooltip-lg tooltip-top-left"
               [class.invalid]="form.get('memoryLimit').invalid && (form.get('memoryLimit').dirty || form.get('memoryLimit').touched)">

          <input id="memory-limit-selector"
                 class="form-control"
                 type="text"
                 formControlName="memoryLimit">

          <span class="tooltip-content" *ngIf="form.get('memoryLimit').hasError('required')">
            Memory limit cannot be empty
          </span>

          <span class="tooltip-content" *ngIf="form.get('memoryLimit').hasError('pattern')">
            Memory limit should either be 'Unlimited' or a number
          </span>

          <span class="tooltip-content" *ngIf="form.get('memoryLimit').hasError('min')">
            Memory limit should be bigger than 0
          </span>

          <span class="tooltip-content" *ngIf="form.get('memoryLimit').hasError('max')">
            Memory limit cannot be bigger than {{ resourceLimits['memory']['maxUsage'] }} MB
          </span>

          <small class="text-muted">
            Max: {{ resourceLimits.memory.maxUsage || '-' }} MB, Min: {{ resourceLimits.memory.minUsage || '-' }} MB
          </small>

        </label>

      </div>

      <span>MB</span>

    </div>

  </section>

  <a class="btn btn-link pl-0" (click)="toggleAdvancedMode()">
    {{ inAdvancedMode ? 'Basic' : 'Advanced' }}
    <clr-icon [attr.shape]="inAdvancedMode ? 'caret up' : 'caret down'"></clr-icon>
  </a>

  <section class="form-block mt-0" *ngIf="inAdvancedMode">

    <div class="alert alert-sm alert-info mt-0 mb-2">
      <div class="alert-item">
        <div class="alert-text">
          The following options will be used for VCH creation only when the advanced mode is open.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4">

        <label for="debug-level-selector">
          Debug
        </label>

      </div>
      <div class="col-xs-6">

        <div class="select form-control">
          <select id="debug-level-selector" formControlName="debug">
            <option value="0">0 - Verbose logging is disabled</option>
            <option value="1">1 - Provides extra verbosity in the logs</option>
            <option value="2">2 - Exposes server on more interfaces, launches pprof in container VMs</option>
            <option value="3">3 - Disables recovery logic and logs sensitive data</option>
          </select>
        </div>

      </div>

    </div>

    <label>
      Virtual Container Host settings
    </label>

    <div class="form-group row">
      <div class="col-xs-4">

        <label for="cpu-reservation-selector">
          CPU reservation
        </label>

      </div>
      <div class="col-xs-3">

        <label for="cpu-reservation-selector"
               aria-haspopup="true"
               role="tooltip"
               class="form-control tooltip tooltip-validation tooltip-lg tooltip-top-left"
               [class.invalid]="form.get('cpuReservation').invalid && (form.get('cpuReservation').dirty || form.get('cpuReservation').touched)">

          <input id="cpu-reservation-selector"
                 class="form-control"
                 type="text"
                 formControlName="cpuReservation">

          <span class="tooltip-content" *ngIf="form.get('cpuReservation').hasError('required')">
            CPU reservation cannot be empty
          </span>

          <span class="tooltip-content" *ngIf="form.get('cpuReservation').hasError('pattern')">
            CPU reservation should be numeric
          </span>

          <span class="tooltip-content" *ngIf="form.get('cpuReservation').hasError('min')">
            CPU reservation should be bigger than 0
          </span>

          <span class="tooltip-content" *ngIf="form.get('cpuReservation').hasError('max')">
            CPU reservation cannot be bigger than {{ resourceLimits['cpu']['unreservedForPool'] }} MHz
          </span>

          <small class="text-muted">
            Max: {{ resourceLimits.cpu.unreservedForPool || '-' }} MHz, Min: {{ resourceLimits.cpu.minUsage || '-' }} MHz
          </small>

        </label>

      </div>

      <span>MHz</span>

    </div>

    <div class="form-group row">
      <div class="col-xs-4">

        <label for="cpu-shares-selector">
          CPU shares
        </label>

      </div>
      <div class="col-xs-3">

        <div class="select form-control">
          <select id="cpu-shares-selector" formControlName="cpuShares">
            <option value="2000">Low</option>
            <option value="4000">Normal</option>
            <option value="8000">High</option>
          </select>
        </div>

      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4">

        <label for="memory-reservation-selector">
          Memory reservation
        </label>

      </div>
      <div class="col-xs-3">

        <label for="memory-reservation-selector"
               aria-haspopup="true"
               role="tooltip"
               class="form-control tooltip tooltip-validation tooltip-lg tooltip-top-left"
               [class.invalid]="form.get('memoryReservation').invalid && (form.get('memoryReservation').dirty || form.get('memoryReservation').touched)">

          <input id="memory-reservation-selector"
                 class="form-control"
                 type="text"
                 formControlName="memoryReservation">

          <span class="tooltip-content" *ngIf="form.get('memoryReservation').hasError('required')">
            Memory limit cannot be empty
          </span>

          <span class="tooltip-content" *ngIf="form.get('memoryReservation').hasError('pattern')">
            Memory limit should be numeric
          </span>

          <span class="tooltip-content" *ngIf="form.get('memoryReservation').hasError('min')">
            Memory limit should be bigger than 0
          </span>

          <span class="tooltip-content" *ngIf="form.get('memoryReservation').hasError('max')">
            Memory limit cannot be bigger than {{ resourceLimits['memory']['unreservedForPool'] }} MB
          </span>

          <small class="text-muted">
            Max: {{ resourceLimits.memory.unreservedForPool || '-' }} MB, Min: {{ resourceLimits.memory.minUsage || '-' }} MB
          </small>

        </label>

      </div>

      <span>MB</span>

    </div>

    <div class="form-group row">
      <div class="col-xs-4">

        <label for="memory-shares-selector">
          Memory shares
        </label>

      </div>
      <div class="col-xs-3">

        <div class="select form-control">
          <select id="memory-shares-selector" formControlName="memoryShares">
            <option value="81920">Low</option>
            <option value="163840">Normal</option>
            <option value="327680">High</option>
          </select>
        </div>

      </div>
    </div>

    <label>
      VM endpoint settings
    </label>

    <div class="form-group row">
      <div class="col-xs-4">

        <label for="vm-cpu-selector">
          CPUs
        </label>

      </div>
      <div class="col-xs-3">

        <label for="vm-cpu-selector"
               aria-haspopup="true"
               role="tooltip"
               class="form-control tooltip tooltip-validation tooltip-lg tooltip-top-left"
               [class.invalid]="form.get('endpointCpu').invalid && (form.get('endpointCpu').dirty || form.get('endpointCpu').touched)">

          <input id="vm-cpu-selector"
                 class="form-control"
                 type="text"
                 formControlName="endpointCpu">

          <span class="tooltip-content" *ngIf="form.get('endpointCpu').hasError('required')">
            CPU limit cannot be empty
          </span>

          <span class="tooltip-content" *ngIf="form.get('endpointCpu').hasError('pattern')">
            CPU limit should be numeric
          </span>

          <span class="tooltip-content" *ngIf="form.get('endpointCpu').hasError('min')">
            CPU limit should be bigger than 0
          </span>

        </label>

      </div>

    </div>

    <div class="form-group row">
      <div class="col-xs-4">

        <label for="vm-memory-selector">
          Memory
        </label>

      </div>
      <div class="col-xs-3">

        <label for="vm-memory-selector"
               aria-haspopup="true"
               role="tooltip"
               class="form-control tooltip tooltip-validation tooltip-lg tooltip-top-left"
               [class.invalid]="form.get('endpointMemory').invalid && (form.get('endpointMemory').dirty || form.get('endpointMemory').touched)">

          <input id="vm-memory-selector"
                 class="form-control"
                 type="text"
                 formControlName="endpointMemory">

          <span class="tooltip-content" *ngIf="form.get('endpointMemory').hasError('required')">
            Memory limit cannot be empty
          </span>

          <span class="tooltip-content" *ngIf="form.get('endpointMemory').hasError('pattern')">
            Memory limit should be numeric
          </span>

          <span class="tooltip-content" *ngIf="form.get('endpointMemory').hasError('min')">
            Memory limit should be bigger than 0
          </span>

          <span class="tooltip-content" *ngIf="form.get('endpointMemory').hasError('max')">
            Memory limit cannot be bigger than {{ resourceLimits['memory']['maxUsage'] }} MB
          </span>

          <small class="text-muted">
            Max: {{ resourceLimits.memory.maxUsage || '-' }} MB, Min: {{ resourceLimits.memory.minUsage || '-' }} MB
          </small>

        </label>

      </div>

      <span>MB</span>

    </div>
  </section>
</form>
